﻿@charset "UTF-8";

@font-face {
	font-family: "sce";
	src: url("fonts/sce.eot");
	src: url("fonts/sce.eot?#iefix") format("embedded-opentype"), url("fonts/sce.woff") format("woff"), url("fonts/sce.ttf") format("truetype"), url("fonts/sce.svg#sce") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "sce" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

[class^="sce-"]:before,
[class*=" sce-"]:before {
	font-family: "sce" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.sce-core-logo:before {
	content: "\61";
}
