﻿.dropdown-menu > li > button {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	background: transparent;
	border: none;
	width: 100%;
	text-align: left;
	outline: none;
}

	.dropdown-menu > li > button:hover {
		background-color: #f5f5f5;
	}
