﻿.error-area {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	min-height: 600px;
	background-image: url("/Content/Images/errorpage.png");
	background-repeat: no-repeat;
	background-position: center top;
	color: white;
	padding-top: 50px;
	padding-left: 60px;
}

	.error-area > h3 > a:hover {
		color: white;
	}
