﻿h1, h2, h3, h4, h5, h6, h7 {
    font-family: "Gotham A", "Gotham B", Helvetica, sans-serif !important;
    color: #002E5D;
}


.byu2016-main-menu-desktop-menu > li {
    text-align: center;
    max-width: inherit;

}

.byu2016-main-menu-desktop-menu > li > ul > li {
    color: #002E5D;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    text-align: left;
}

#great-minds {
    text-align: center;
    margin: 20px;
}

#great-minds > a:hover{
    text-decoration: none;
}

.great-minds-tile {
    background-color: rgba(0, 46, 93, .7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    padding: 20px 10px 30px 10px;
    margin: 10px;
    color: white;
    width: 200px;
    min-height: 200px;
    vertical-align: top;
    position: relative;
}

    .great-minds-tile:hover {
        background-color: rgba(0, 46, 93, .9);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
    }

.great-minds-tile div {
    width:75%;
    margin: auto;
    margin-top: 25px;
    font-size:19px;
}

.faculty-area {
    position: relative;
}

.faculty-tile {
    width: 200px;
    min-height: 465px;
    background-color: white;
    padding: 10px;
    display: inline-block;
    margin: 8px;
    vertical-align: top;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    position: relative;
}

.faculty-img {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.faculty-name {
    color: #002E5D;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 6px;
}

.faculty-tile p {
    text-align: center;
}

.faculty-tile:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.65);
}

.faculty-area a:hover {
    text-decoration: none;
}

.mytable {
    width: 100%;
    border-collapse: collapse;
}

.mytable td {
    border: 1px solid darkgray;
    text-align: left;
    padding: 8px;
}

.mytable th {
    border: 1px solid darkgray;
    text-align: center;
    padding: 8px;
}

.mytable tr:nth-child(even) {
    background-color: rgb(192, 228, 255);
}

.faculty-header {
    font-family: "Gotham A", "Gotham B", Helvetica, sans-serif !important;
    font-size: 28px;
    margin-bottom: 15px;
    color: #002E5D;
}

#faq-list {
    list-style:none;
    font-size: 18px;
}

#faq-list li {
    margin: 12px;
}

#mycalendar {
    background-color: rgba(95, 124, 155, .2);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#calendar hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #002E5D;
    margin: 1em 0;
    padding: 0;
}


/* Thursday Group Page*/

#thursday-group {
    width: 100%;
    border-collapse: collapse;
}

    #thursday-group td {
        border: 1px solid darkgray;
        text-align: left;
        padding: 8px;
    }

    #thursday-group th {
        border: 1px solid darkgray;
        text-align: center;
        padding: 8px;
    }

    #thursday-group tr:nth-child(even) {
        background-color: rgba(95, 124, 155, .35);
    }