﻿<li class="dropdown" style="text-align: center;">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{REPLACE_TITLE}}</a>
	<ul class="dropdown-menu dropdown-menu-left">
		{{REPLACE_DROPDOWN_CONTENT}}
	</ul>
</li>