﻿<div class="alert alert-success" role="alert" style="display: none;"></div>
<div class="alert alert-danger" role="alert" style="display: none;"></div>

<form class="form-horizontal" method="post" id="editNavigation" >

	<div class="form-group">
		<label for="#MenuSelect" class="col-sm-2 control-label">Select Navigation</label>
		<div class="col-sm-8">
			<select class="form-control" name="Menu" id="MenuSelect" onchange="MenuChange(this)"></select>
		</div>
	</div>

	<div class="form-group" id="newNavInput">
		<label for="input[name='navBarNewName']" class="col-sm-2 control-label">Navigation Name</label>
		<div class="col-sm-8">
			<input class="form-control" name="newNav" type="text" />
		</div>
	</div>

	<div class="col-sm-offset-2 col-sm-8">
		<input type="button" id="delete" value="Delete Navigation" class="btn btn-danger" />
		<br /><br />
	</div>

	<br />
	<br />
	<br />
	<hr />

	<div class="navitems row" id="tabs"></div>

	<div class="form-group" id="navigationSubmit">
		<div class="col-sm-offset-2 col-sm-8">
			<input type="submit" value="Save Changes" class="btn btn-success" />
			<input type="button" id="cancel" value="Cancel" class="btn btn-danger" />
		</div>
	</div>

</form>