﻿@model Byu.Fhss.Sce.PageManagement.ScePage
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout - FacultyHome.cshtml";

}

<!--This Template is only to be used for the Faculty Home Page.  It allows for a main image to span the entire screen-->

<div id="content1">
    @Html.DisplaySceContent(Model.UriName.ToString(), 0)
</div>
<div id="content2">
    @Html.DisplaySceContent(Model.UriName.ToString(), 1)
</div>

