﻿@model Byu.Fhss.Sce.PageManagement.ScePage
@{
	ViewBag.Title = Model.Title;
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@Html.DisplaySceContent(Model.UriName.ToString(), 0)

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            @Html.DisplaySceContent(Model.UriName.ToString(), 1)
        </div>
        <div class="col-md-9">
            @Html.DisplaySceContent(Model.UriName.ToString(), 2)
        </div>
    </div>
</div>
