﻿@model Byu.Fhss.Sce.PageManagement.ScePage
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout - Student.cshtml";

}

<div id="content1">
    @Html.DisplaySceContent(Model.UriName.ToString(), 0)
</div>
<div id="content2">
    @Html.DisplaySceContent(Model.UriName.ToString(), 1)
</div>

