﻿<li class="dropdown-header">Editors</li>
{{EditorPluginItems}}
<li role="separator" class="divider"></li>
<li class="dropdown-header">Admins</li>
<li>
	<button type="button" onclick="newPageModal().catch(console.log)" class="create-page-modal-launch"><span class="glyphicon glyphicon-plus"></span>&nbsp; Create a Page</button>
</li>
<li>
	<a href="/Admin/Pages"><span class="glyphicon glyphicon-duplicate"></span>&nbsp; Page Manager</a>
</li>
<li><a href="/Admin/Manager/Navigation"><span class="glyphicon glyphicon-tasks"></span>&nbsp; Navigation Manager</a></li>
{{AdminPluginItems}}
<li role="separator" class="divider"></li>
<li><a href="/Admin/Users"><span class="glyphicon glyphicon-cog"></span>&nbsp; User Group Manager</a></li>
<li role="separator" class="divider"></li>
<li><a href="http://scedocumentation.byu.edu" rel="noopener"><span class="glyphicon glyphicon-question-sign"></span>&nbsp; Help</a></li>
<li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Sign out</a></li>