﻿<li class="dropdown-header">Editors</li>

{{EditorsPluginItems}}

<li role="separator" class="divider"></li>

<li><a href="http://scedocumentation.byu.edu" rel="noopener"><span class="glyphicon glyphicon-question-sign"></span>&nbsp; Help</a></li>
<li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Sign out</a></li>