﻿<div id="content{{REPLACE_ID}}" class="col-md-12 content-edit-mode" data-toggle="modal" data-target="#myModalcontent{{REPLACE_ID}}">
	<div id="edit-content{{REPLACE_ID}}" class="{{REPLACE_CLASS}} col-md-12 editor-dashed-box" data-toggle="modal" data-target="#myModalContent{{REPLACE_ID}}">
		{{REPLACE_CONTENT}}
	</div>
</div>