﻿@model List<Byu.Fhss.Sce.FileManager.FileSystem.File>
@{
	Layout = null;
	ViewBag.i = 0;
}

<table class="table table-hover table-responsive" id="file-table">
	<thead>
		<tr>
			<th>File Name</th>
			<th>File Path</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@{
			if (Model.Count != 0)
			{
				foreach (Byu.Fhss.Sce.FileManager.FileSystem.File File in Model.OrderBy(f => f.Name))
				{
					string filepath = "/Plugins/FileManager/Files" + File.FullPath;
					string filepathid = "file-path-" + ViewBag.i;
					string filepathtrigger = "file-path-trigger-" + ViewBag.i;

					<text>
						<tr>

							@if (File.IsDirectory)
							{
								<td><a href="#@File.FullPath"><span class="glyphicon glyphicon-folder-open" style="margin-right: 2rem"></span>@File.Name</a></td>
								<td></td>
							}
							else
							{
								<td><a href="@filepath" rel="noopener"><span class="glyphicon glyphicon-file" style="margin-right: 2rem"></span>@File.Name</a></td>
								<td>
									<div class="input-group">
										<input type="text" class="form-control" id="@filepathid" value="@filepath" style="max-width: 100%" />
										<span class="input-group-btn">
											<button class="btn btn-info" data-clipboard-target="#@filepathid" id="@filepathtrigger"><span class="glyphicon glyphicon-copy"></span></button>
										</span>
									</div>
								</td>
							}

							<td style="width: 5rem"><button class="delete-file btn btn-danger" data-filepath="@File.FullPath">Delete</button></td>
						</tr>
					</text>
					ViewBag.i++;
				}
			}
			else
			{
				<text>
					<tr class="warning">
						<td colspan="3" align="center" class="text-warning">There are no files in this folder.</td>
					</tr>
				</text>
			}
		}
	</tbody>
</table>