﻿@model Byu.Fhss.Sce.FileManager.Models.FilePickerVM

<div class="modal fade" id="file-picker-modal" role="dialog" data-file-picker-type="@Model.FileType" data-file-picker-target="@Uri.UnescapeDataString(Model.Target)" data-current-directory="@Model.InitialDirectory" style="z-index: 200000">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Pick a file</h4>
				<button class="up-a-level btn btn-default"><span class="glyphicon glyphicon-level-up"></span></button>
			</div>
			<div class="modal-body" id="file-picker-list">
				@Html.Action("FilePickerList", "FileManager", new { Path = Model.InitialDirectory })
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script id="file-picker-modal-script">
	(function () {
		//Determine what the target is.
		var targetFunction = 0;
		var targetText;

		function prepForTarget() {
			targetText = $("#file-picker-modal").data("filePickerTarget");
			try {
				// Interpret it as a function
				var evaluatedTargetText = eval(targetText);
				if (typeof evaluatedTargetText === "function") {
					targetFunction = evaluatedTargetText;
				} else {
					targetFunction = assignFilePathToVariable;
				}
			}
			catch (ex) {
				// Interpret it as a selector
				targetFunction = insertFilePathIntoSelector;
			}
		}

		function insertFilePathIntoSelector(filePath) {
			var $element = $(targetText);
			if ($element.is("input, textarea")) {
				$element.val(filePath);
			} else {
				$element.text(filePath);
			}
		}

		function assignFilePathToVariable(filePath) {
			window[targetText] = filePath;
		}

		function navigateTo(path) {
			var fileType = $("#file-picker-modal").data("filePickerType");
			$.ajax({
				url: "/FileManager/FilePickerList?Path=" + path + "&FileType=" + fileType,
				success: function (response) {
					$("#file-picker-list").html(response);
				},
				error: function (err) {
					console.log(err);
					alert("An error has occurred.");
					$("#file-picker-modal-script").modal("hide");
				}
			});
		}

		function upALevel() {
			var currentLocation = $("#file-picker-modal").data("currentDirectory");
			var components = currentLocation.split('/').pop();
			var NewDirectory;
			if (components.length == 0) {
				NewDirectory = "/";
			} else {
				NewDirectory = components.join('/');
			}
			$("#file-picker-modal").data("currentDirectory", NewDirectory);
			navigateTo(NewDirectory);
		}

		$("#file-picker-modal").on("hidden.bs.modal", function () {
			$("#file-picker-modal").remove();
			$("#file-picker-modal-script").remove();
		});

		$("#file-picker-modal").on("click", ".file-picker-file", function () {
			prepForTarget();
			targetFunction($(this).data("filePath"));
			$("#file-picker-modal").modal("hide");
		});

		$("#file-picker-modal").on("click", ".file-picker-directory", function () {
			navigateTo($(this).data("directoryPath"));
			//removeModal();
		});

		$("#file-picker-modal").on("click", ".up-a-level", upALevel);
	})();
</script>