﻿@model List<Byu.Fhss.Sce.FileManager.FileSystem.File>
@{
	int i = 0;
}
<table class="table table-hover table-responsive" id="file-table">
	<thead>
		<tr>
			<th>File Name</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Count > 0)
		{
			foreach (var Item in Model)
			{
				string filepath = "/Plugins/FileManager/Files" + Item.FullPath;

				<text>
					<tr>

						@if (Item.IsDirectory)
					{
							<td class="file-picker-directory" data-directory-path="@Item.FullPath"><span class="glyphicon glyphicon-folder-open" style="margin-right: 2rem"></span>@Item.Name</td>
					}
					else
					{
							<td class="file-picker-file" data-file-path="@filepath"><span class="glyphicon glyphicon-file" style="margin-right: 2rem"></span>@Item.Name</td>
					}

					</tr>
				</text>
				i++;
			}
		}
		else
		{
			<text>
				<tr class="warning">
					<td colspan="3" align="center" class="text-warning">There are no files in this folder.</td>
				</tr>
			</text>
		}
	</tbody>
</table>