﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="file-manager">
	<div class="main-controls">
		<form id="file-upload-form">
			<div class="btn-group">
				<label for="file-upload-input" class="btn btn-success">
					<span class="glyphicon glyphicon-plus" style="margin-right: 1rem"></span>Add Files
				</label>
				<span class="btn btn-primary create-folder-btn"><span class="glyphicon glyphicon-folder-close" style="margin-right: 1rem"></span>Add Folder</span>
			</div>
			<input type="file" name="Files" id="file-upload-input" style="display:none" multiple />
		</form>
	</div>
	<hr />
	<button class="up-a-level btn btn-default"><span class="glyphicon glyphicon-level-up"></span></button>
	<div class="file-browser">

	</div>

</div>


