﻿<div class="byu2016-footer-div">
	<div class="byu2016-footer-div-byu">
		<div class="byu2016-footer-byu-logo">
			<a href="http://byu.edu/">
				<img src="~/Content/Images/wordmark-inline.svg" />
			</a>
		</div>
		<div class="byu2016-footer-byu-logo-stacked">
			<a href="http://byu.edu/">
				<img src="~/Content/Images/wordmark-stacked.svg" />
			</a>
		</div>
		<div class="byu2016-footer-byu-copyright">
			<span id="byu2016-footer-copyright">© @DateTime.Today.Year, All Rights Reserved&nbsp;&nbsp;| &nbsp;Provo,&nbsp;UT&nbsp;84602,&nbsp;USA&nbsp;&nbsp;|&nbsp;&nbsp;1‑801‑422‑4636</span>
		</div>
	</div>
</div>