﻿<!-- ========================================== -->
<!-- ============ START DESKTOP =============== -->
<!-- ========================================== -->


<nav class="navbar byu2016-header-desktop">
	<div class="container byu2016-header-desktop-container">

		<!-- ================= BYU LOGO + SITE TITLE ================= -->
		<div class="byu2016-header-desktop-site">
			<div class='logo-container'><a href='http://www.byu.edu' rel="noopener"><img class='site-logo' alt='BYU' src='/Content/Images/byu.svg'></a></div><div class='title-container'><a href='/' class='title-container-flex'><div class='site-name'>@ViewBag.SiteName</div></a></div>
		</div>

		<div class="byu2016-header-desktop-menu-search">

			<!-- ================= DESKTOP USER MENU ================= -->
			<ul class="nav navbar-nav byu2016-header-desktop-menu">
				@Html.Partial("_Navigation")
			</ul>

			<!-- ================= DESKTOP SEARCH FORM ================= -->
			<div class="byu2016-header-desktop-search">
				<form action="/Search" class="byu2016-search-form" accept-charset="UTF-8">
					<div class="byu2016-search-text">
						<input type="text" name="q" aria-label="Search Box" size="20" maxlength="128" placeholder="Search" />
					</div>
					<div class="byu2016-search-button">
						<button type="submit" id="homeSearchButton" class="button-small"><span class="glyphicon glyphicon-search"></span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</nav>
<nav class="navbar byu2016-main-menu-desktop" role="navigation" id="nav" style="z-index: 999 !important;">
	<div class="container byu2016-main-menu-desktop-container">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="nav navbar-nav byu2016-main-menu-desktop-menu" id="mainNav">
			@Html.DisplayNavigationMenu("Main")
		</ul>
	</div><!-- navbar-collapse -->
</nav>

<!-- ========================================== -->
<!-- ============= START MOBILE =============== -->
<!-- ========================================== -->

<nav role="navigation" class="navbar byu2016-header-mobile">
	<div class="container byu2016-header-mobile-container">
		<!-- ================= BYU LOGO + SITE TITLE ================= -->
		<div class="byu2016-header-mobile-site">
			<div class='logo-container'><a href='/'><img class='site-logo' alt='BYU' src='/Content/Images/byu.svg'></a></div><div class='title-container'><a href='http://webcommunity.byu.edu/' class='title-container-flex'><div class='site-name'>@ViewBag.SiteName</div></a></div>
		</div>

		<div class="byu2016-header-mobile-menu-button">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#byu2016-mobile-menu-collapse" aria-expanded="false">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</nav>
<nav role="navigation" class="navbar byu2016-combined-menu-mobile">
	<div class="container byu2016-header-mobile-menu">
		<div class="navbar-collapse collapse" id="byu2016-mobile-menu-collapse" aria-expanded="false">
			<ul class="nav navbar-nav byu2016-header-mobile-combined-menu" id="mainNavMobile">
				@Html.DisplayNavigationMenu("Main")
				@Html.Partial("_Navigation")
			</ul>
		</div>
	</div>
</nav>
<nav role="navigation" class="navbar byu2016-search-mobile">
	<!-- ================= MOBILE SEARCH FORM ================= -->
	<div class="byu2016-header-mobile-search">
		<form action="/Search" class="byu2016-search-form" onsubmit="if(this.search_block_form.value==''){ return false; }" role="search" method="post" id="search-block-form--2" accept-charset="UTF-8">
			<div class="byu2016-search-text">
				<input title="" aria-label="Search Box" placeholder="Search" type="text" id="edit-search-block-form--4" name="q" value="" size="20" maxlength="128" class="form-text">
			</div>
			<input style="display: none;" type="submit" id="edit-submit--2" name="op" value="Search" class="form-submit" />
			<div class="byu2016-search-button">
				<button aria-label="Submit Search" type="submit" class="button-small">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>
		</form>
	</div>
</nav>