﻿@{
	ViewBag.SiteName = "Department of Political Science";
}
<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#002E5D">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/sce-content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link type="text/css" rel="stylesheet" href="//cloud.typography.com/75214/7683772/css/fonts.css" media="all">
	<link rel='shortcut icon' href='http://webcommunity.byu.edu/themes/byu2016/sites/default/favicon.ico' type='image/x-icon' />
	@RenderSection("styles", required: false)
</head>
<body>
	<div id="errorModal">
		<div id="errorModalInner"></div>
	</div>

	<header class="byu2016-top-header">
		@Html.Partial("_Header")
	</header>

	<div id="page">
		<div id="flex-body">
			<div class="content container" id="main-content">
				@RenderBody()
			</div>
		</div>
	</div>

	<footer>
		@Html.Partial("_Footer")
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/sce-bundles/core")
	@Scripts.Render("~/sce-bundles/plugins")
	@RenderSection("scripts", required: false)
</body>
</html>
