﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right" id="user-menu">
			<li class='menu-parent user-menu loginLink dropdown'>
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" id="user-dropdown-toggle">
					<i class="fa fa-user-circle-o" aria-hidden="true"></i>
					@User.Identity.GetUserName() <span class="caret"></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-right" style="z-index: 1000 !important;" id="admin-menu">
					@Html.DisplayUserNavigation()
				</ul>
			</li>
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right" id="user-menu">
		<li class='menu-parent user-menu loginLink'>
			<a href='@Url.Action("LogOn", "Account", new { area = "" })' id="loginLink">
				<i class="fa fa-user-circle-o" aria-hidden="true"></i>
				SIGN IN
			</a>
		</li>
	</ul>
}