<div align="center">
<div><img title="Handler:18321" src="/Plugins/FileManager/Files/GreatMinds/tocqueville.jpg" alt="" /></div>
</div>
<p class="ms-rteElement-P">&nbsp;</p>
<p class="ms-rteElement-P" style="text-align: center;">"The greatness of America lies not in being more enlightened than any other nation, but in her ability to repair her faults."</p>
<p class="ms-rteElement-P" style="text-align: center;">-Alexis de Tocqueville</p>
<p class="ms-rteElement-P">&nbsp;</p>
<p class="ms-rteElement-P" style="text-align: center;">Please contact the faculty advisor Prof. Ralph Hancock at&nbsp;<a href="mailto:ralph_hancock@byu.edu">ralph_hancock@byu.edu</a>&nbsp;for more information.</p>