<!--<div class="list-view" data-list-name="Faculty Directory By Subfield" data-list-method="loadView">&nbsp;</div>-->

<h1 class="faculty-header">American Politics</h1>
<table class="mytable">
    <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Office</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Position</th>
    </tr>
    <tr>
        <td><a href="">Barber, Mike</a></td>
        <td>Assistant</td>
        <td>724 KMBL</td>
        <td>(801) 422-7492</td>
        <td>barber@byu.edu</td>
        <td>Thursday Group Coordinator</td>
    </tr>
    <tr>
        <td><a href="">Brown, Adam</a></td>
        <td>Assistant</td>
        <td>772 KMBL</td>
        <td>(801) 422-2182</td>
        <td>brown@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Davis, Richard</a></td>
        <td>Professor</td>
        <td>754 KMBL</td>
        <td>(801) 422-7503</td>
        <td>richard_davis@byu.edu</td>
        <td>Director: Office of Civic Engagement</td>
    </tr>
    <tr>
        <td><a href="">Dynes, Adam</a></td>
        <td>Assistant</td>
        <td>784 KMBL</td>
        <td>(801) 422-2337</td>
        <td>adamdynes@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Goodliffe, Jay</a></td>
        <td>Associate</td>
        <td>734 KMBL</td>
        <td>(801) 422-9136</td>
        <td>goodliffe@byu.edu</td>
        <td>Associate Chair: Curriculum</td>
    </tr>
    <tr>
        <td><a href="">Holbein, John</a></td>
        <td>Assistant</td>
        <td>744 KMBL</td>
        <td>(801) 422-7800</td>
        <td>john_holbein@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Karpowitz, Chris</a></td>
        <td>Professor</td>
        <td>850 KMBL</td>
        <td>(801) 422-2788</td>
        <td>chris_karpowitz@byu.edu</td>
        <td>CSED Co-Director</td>
    </tr>
    <tr>
        <td><a href="">Magleby, David</a></td>
        <td>Professor</td>
        <td>750 KMBL</td>
        <td>(801) 422-5462</td>
        <td>david_magleby@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Monson, Quin</a></td>
        <td>Associate</td>
        <td>840 KMBL</td>
        <td>(801) 422-8017</td>
        <td>quin.monson@byu.edu</td>
        <td>BYUPAS Advisor</td>
    </tr>
    <tr>
        <td><a href="">Patterson, Kelly</a></td>
        <td>Associate</td>
        <td>840 KMBL</td>
        <td>(801) 422-4985</td>
        <td>kelly_patterson@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Pope, Jeremy</a></td>
        <td>Associate</td>
        <td>834 KMBL</td>
        <td>(801) 422-1344</td>
        <td>jpope@byu.edu</td>
        <td>CSED Co-Director</td>
    </tr>
    <tr>
        <td><a href="">Wilson</a></td>
        <td>Professor</td>
        <td>722 KMBL</td>
        <td>(801) 422-9018</td>
        <td>sven_wilson@byu.edu</td>
        <td>Department Chair</td>
    </tr>

</table>
<br /><br />

<h2 class="faculty-header">Comparative Politics</h2>
<table class="mytable">
    <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Office</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Position</th>
    </tr>
    <tr>
        <td><a href="">Christensen, Ray</a></td>
        <td>Associate</td>
        <td>775 KMBL</td>
        <td>(801) 422-5133</td>
        <td>ray_christensen@byu.edu</td>
        <td>IR Coordinator</td>
    </tr>
    <tr>
        <td><a href="">Gubler, Josh</a></td>
        <td>Assistant</td>
        <td>764 KMBL</td>
        <td>(801) 422-2829</td>
        <td>jgub@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Hawkins, Kirk</a></td>
        <td>Associate</td>
        <td>782 SWKT</td>
        <td>(801) 422-1362</td>
        <td>kirk_hawkins@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Jacoby, Wade</a></td>
        <td>Professor</td>
        <td>742 KMBL/216 HRCB</td>
        <td>(801) 422-1711</td>
        <td>wade_jacoby@byu.edu</td>
        <td>CSE Director</td>
    </tr>
    <tr>
        <td><a href="">Mecham, Quin</a></td>
        <td>Associate</td>
        <td>770 KMBL</td>
        <td>(801) 422-5317</td>
        <td>qmecham@byu.edu</td>
        <td>Middle East Studies Coordinator</td>
    </tr>
    <tr>
        <td><a href="">Nielson, Dan</a></td>
        <td>Professor</td>
        <td>790 KMBL</td>
        <td>(801) 422-3417</td>
        <td>daniel_nielson@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Preece, Jessica</a></td>
        <td>Associate</td>
        <td>732 KMBL</td>
        <td>(801) 422-3276</td>
        <td>jessica_preece@byu.edu</td>
        <td>Associate Chair: Academic Life</td>
    </tr>
    <tr>
        <td><a href="">Selway, Joel</a></td>
        <td>Associate</td>
        <td>792 KMBL</td>
        <td>(801) 422-8607</td>
        <td>joel_selway@byu.edu</td>
        <td>PEDL Director</td>
    </tr>
</table><br /><br />

<h3 class="faculty-header">International Relations</h3>
<table class="mytable">
    <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Office</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Position</th>
    </tr>
    <tr>
        <td><a href="">Beesley, Celeste</a></td>
        <td>Assistant</td>
        <td>730 KMBL</td>
        <td>(801) 422-7807</td>
        <td>celeste_beesly@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Cooper, Scott</a></td>
        <td>Associate</td>
        <td>762 KMBL</td>
        <td>(801) 422-4053</td>
        <td>scott_cooper@byu.edu</td>
        <td>Sigma Advisor</td>
    </tr>
    <tr>
        <td><a href="">Fry, Earl</a></td>
        <td>Professor</td>
        <td>774 KMBL</td>
        <td>(801) 422-2453</td>
        <td>earl_fry@byu.edu</td>
        <td>Canadian Studies Coordinator</td>
    </tr>
    <tr>
        <td><a href="">Hawkins, Darren</a></td>
        <td>Professor</td>
        <td>832 KMBL</td>
        <td>(801) 422-5526</td>
        <td>dhawkins@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Hyer, Darren</a></td>
        <td>Associate</td>
        <td>780 KMBL/209 HRCB</td>
        <td>(801) 422-4699</td>
        <td>eric_hyer@byu.edu</td>
        <td>Asian Studies Coordinator</td>
    </tr>
    <tr>
        <td><a href="">Kartchner, Kerry</a></td>
        <td>Visiting</td>
        <td>774 KMBL</td>
        <td>(801) 422-0364</td>
        <td>kkartchner@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Kirkham, David</a></td>
        <td>Associate</td>
        <td>27 Palace Court, London, UK</td>
        <td>+44 (0) 7730 334 098</td>
        <td>kirkhamlaw@byu.edu</td>
        <td>Academic Director and Professor, BYU London Centre</td>
    </tr>
    <tr>
        <td><a href="">Nelson, Chad</a></td>
        <td>Assistant</td>
        <td>752 KMBL</td>
        <td>(801) 422-3505</td>
        <td>daniel_nielson@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Nielson, Dan</a></td>
        <td>Professor</td>
        <td>790 KMBL</td>
        <td>(801) 422-3417</td>
        <td>daniel_nielson@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Stiles, Ken</a></td>
        <td>Professor</td>
        <td>760 KMBL/215 HRCB</td>
        <td>(801) 422-1352</td>
        <td>ken_stiles@byu.edu</td>
        <td></td>
    </tr>

</table>
<br /><br />


<h4 class="faculty-header">Political Theory</h4>
<table class="mytable">
    <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Office</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Position</th>
    </tr>
    <tr>
        <td><a href="">Hancock, Ralph</a></td>
        <td>Professor</td>
        <td>852 KMBL</td>
        <td>(801) 422-3302</td>
        <td>ralph_hancock@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Dabling, Brandon</a></td>
        <td>Visiting</td>
        <td>781 KMBL</td>
        <td>(801) 422-5022</td>
        <td>brandon_dabling@byu.edu</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="">Davis, Ryan</a></td>
        <td>Assistant</td>
        <td>740 KMBL</td>
        <td>(801) 422-9080</td>
        <td>rwdavis@byu.edu</td>
        <td>Political Review Advisor</td>
    </tr>

</table><br />