<div><em>Updated February 2018</em></div>
<p>&nbsp;</p>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<h2 class="ms-rteElement-H2">Michael Barber</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">&nbsp;"Status Quo Bias in Ballot Wording" with David Gordon, Ryan Hill, and Joe Price.&nbsp;<em>The Journal of Experimental Political Science</em>, 2017. 4 (2) 151-160.</div>
<div class="ms-rteThemeForeColor-2-3" dir="ltr">
<div>&nbsp;</div>
<div>"Sophisticated Donors: Which Candidates Do Individual Contributors Finance?" with Brandice Canes-Wrone and Sharece Thrower.&nbsp;<em>American Journal of Political Science</em>, 2017. 61 (2) 271-288.</div>
<div>&nbsp;</div>
<div>"Gender Inequalities in Campaign Finance: A Regression Discontinuity Design"&nbsp;with Daniel Butler and Jessica Preece.&nbsp;<em>Quarterly Journal of Political Science</em>, 2016. 11 (2) 219-248.</div>
<div>&nbsp;</div>
<br />
<h2 class="ms-rteElement-H2">Celeste Beesley</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">"Euromaidan and the Role of Protest in Democracy."&nbsp;<em>PS: Political Science and Politics</em>. 49(2):244-249.</div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div class="ms-rteThemeForeColor-2-3">"Globalization and Corruption in Post-Soviet Countries: Perverse Effects on Economic Openness" in&nbsp;<em>Eurasian Geography and Economics</em>. Oxford: Taylor and Francis. 2015.</div>
</div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<p class="ms-rteThemeForeColor-2-3">&nbsp;&nbsp;</p>
<h2 class="ms-rteElement-H2">Donna Lee Bowen</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">"State Fragility and Structural Gender Inequality in Family Law: An Empirical Investigation" in LAWS. With PL Nielson and V. Hudson. Geneva: MDPI. 2015.<br /><br />"Clan Governance and State Stability: The Relationship between Female Subordination and Political Order" in&nbsp;<em>American Political Science Review</em>. With PL Nielson and V. Hudson. Cambridge University. 2015.<br /><br />"Reinserting Race as a Relevant Social Category in Turkish Football" in&nbsp;<em>Everyday Life in the Muslim Middle East</em>. With Y. Nuhrat, M. Patton, and B. Schulthies. Indiana University Press. 2014.<br /><br /></div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<h2 class="ms-rteElement-H2">Adam Brown</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">"Why do Legislators Skip Votes? Position Taking and Policy Influence." With Jay Goodliffe.<em>&nbsp;Political Behavior.</em>&nbsp;39 (2): 425-55. 2017.</div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div class="ms-rteThemeForeColor-2-3">"The Challenge of Local Party Brand Differentiaton."&nbsp;<em>Social Science Journal</em>. 54 (March): 51-55. 2017.</div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div class="ms-rteThemeForeColor-2-3">"Voters Don't Care Much about Incumbency."&nbsp;<em>Journal of Experiemental Political Science</em>. 1 (December): 132:143.<br /><br /></div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<h2 class="ms-rteElement-H2">Ray Christensen</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div class="ms-rteThemeForeColor-2-3"><span style="color: #333333;">"Pork-Barrel Politics and Electoral Reform: Explaining the Curious Differences in the Experiences of Thailand and Japan," with Joel Sawat Selway&nbsp;The Journal of Asian Studies&nbsp;76 no. 2 (May 2017):283-310.<br /></span></div>
<div class="ms-rteThemeForeColor-2-3"><span style="color: #333333;">&nbsp;</span></div>
<div class="ms-rteThemeForeColor-2-3"><span style="color: #333333;">"Review of Japan under the DPJ: The Politics of Transition and Governance" in<em>&nbsp;Journal of Japanese Studies</em>. 2015.<br /><br />"The Rules of the Election Game in Japan" in&nbsp;<em>Party Politics in Japan, Political Chaos and Stalemate in the Twenty-First Century</em>. New York: Routledge. 2015.<br /><br /><br /></span></div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<h2 class="ms-rteElement-H2">Scott Cooper</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<p class="ms-rteThemeForeColor-2-3">"Currency Unions in the Developing World" in&nbsp;<em>Handbook of the International Political Economy of Monetary Relations</em>. Cheltenham, UK: Edward Elgar. 2014.</p>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<h2 class="ms-rteElement-H2">Richard Davis</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">
<p>"Supreme Democracy:&nbsp;The End of Elitism in Supreme Court Nominations" (New York:&nbsp; Oxford University Press, 2017)</p>
<p>Justices and Journalists: The Global Perspective (New York:&nbsp; Cambridge University Press, 2017). Co-editor with David Taras</p>
<p>Twitter and Elections Around the World:&nbsp; Campaigning in 140 Characters or Less (New York:&nbsp; Routledge, 2017). Co-editor with Christina Holtz-Bacha and Marion Just</p>
</div>
<div class="ms-rteThemeForeColor-2-3"><br /><br /></div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;&nbsp;</div>
<h2 class="ms-rteElement-H2">Ryan Davis</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div>&ldquo;A Buck-Passing Account of the Common Good&rdquo; (with Eric Beerbohm)&nbsp;<em>Journal of Political Philosophy</em>&nbsp;25:4 (2017): 60-79.</div>
<div>&nbsp;</div>
<div>&ldquo;Dementia, Advance Directives, and the Problem of Temporal Selfishness,&rdquo;&nbsp;<em>The Ethics of Ability and Enhancement,</em>&nbsp;eds. Terry L. Price and Jessica Flanigan,&nbsp;(Palgrave&nbsp;Macmillan, 2017).</div>
<div>&nbsp;</div>
<div>&ldquo;Toleration and Autonomy as a Moral Attitude&rdquo;<em>&nbsp;Journal of Social Philosophy</em>&nbsp;28:1 (2017): 92-116.</div>
<p class="ms-rteThemeForeColor-2-3">&nbsp;</p>
<h2 class="ms-rteElement-H2">Adam Dynes</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div><span class="ms-rteThemeForeColor-1-5">Butler, Daniel M., Craig Volden, Adam M. Dynes, and Boris Shor. 2017. &ldquo;Ideology, Learning, and Policy Diffusion: Experimental Evidence.&rdquo;&nbsp;<em>American Journal of&nbsp;Political Science</em>&nbsp;61 (1): 37&ndash;49.</span></div>
<div>&nbsp;</div>
<div><span class="ms-rteThemeForeColor-1-5">Butler, Daniel M., and Adam M. Dynes. 2016. &ldquo;How Politicians Discount the Opinions of Constituents with Whom They Disagree.&rdquo;&nbsp;<em>American Journal of Political Science</em>&nbsp;60 (4): 975&ndash;89.</span></div>
<div>&nbsp;</div>
<p class="ms-rteThemeForeColor-2-3">"Partisanship and the Allocation of Federal Spending: Do Same-Party Legislators or Voters Benefit from Shared Party Affiliation with the President and House Majority" in&nbsp;<em>American Political Science Review</em>. Cambridge University. 2015.</p>
<p>&nbsp;&nbsp;</p>
<h2 class="ms-rteElement-H2">Earl Fry</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">"The External Relations of Local Governments in North America after NAFTA: Trends and Perspectives" in&nbsp;<em>Autonomous</em>. With R. Flores and S. Paquin. Mexicali: University of Baja California. 2015.<br /><br />"Pointe due vue: L'ALENA fete ses 20 ans: fondement de l'integration economique nord-americaine ou victime du repli national?" in&nbsp;<em>Politique Americaine</em>. Paris, France. 2015.<br /><br />"La gestion de la frontiere americano-canadienne dans le contexte de l'ALENA et du renforcement des mesures de securite" in&nbsp;<em>Controle et securisation des zones frontaliere: Pratiques et discours en France et au Canada</em>. Paris, France. 2015.<br /><br /></div>
<h2 class="ms-rteElement-H2">Jay Goodliffe</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div>
<div>Jay Goodliffe and Darren Hawkins. 2017. &ldquo;Dependence Networks and the Diffusion of Domestic Political Institutions.&rdquo;<em>&nbsp;Journal of Conflict Resolution</em>&nbsp;61(4): 903-929.</div>
<div>&nbsp;</div>
<div>Adam R. Brown and Jay Goodliffe. 2017. &ldquo;Why do Legislators Skip Votes? Position&nbsp;Taking Versus Policy Influence.&rdquo;&nbsp;<em>Political Behavior</em>. 39(2): 425-455.</div>
</div>
<p>"Effective Record Linkage for Mining Campaign Contribution Data" in&nbsp;<em>Knowledge and Information Systems</em>. With C. Giraud-Carrier. 2015.<br /><br /></p>
<h2 class="ms-rteElement-H2">Joshua Gubler</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div>
<div>Gubler, Joshua R., Skye Herrick, Richard Price, David A. Wood. 2018. &ldquo;Violence, Aggression, and Ethics: The link between exposure to human violence and unethical behavior.&rdquo;<em>&nbsp;Journal of Business Ethics&nbsp;</em>147(1): 25-34. Selected media coverage: Altmetric, Pacific Standard, Boston Globe</div>
<div>&nbsp;</div>
<div>Gubler, Joshua R. and Nathan P. Kalmoe. 2015. &ldquo;Violent Rhetoric in Protracted Group Conflicts: Experimental Evidence from Israel and India.&rdquo;&nbsp;<em>Political Research Quarterly</em>&nbsp;68(4): 651-664.</div>
</div>
<div>&nbsp;</div>
<div>"Humanizing the Outgroup in Contexts of Protracted Intergroup Conflict" in&nbsp;<em>Journal of Experimental Political Science</em>. With E. Halperin and G. Hirschberger. Cambridge University Press. 2015.</div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<p>&nbsp;&nbsp;</p>
<h2 class="ms-rteElement-H2">Ralph Hancock</h2>
<hr />
<p>&nbsp;</p>
<p>"Mormon Apologetics and Mormon Studies: Truth, Relativism and the New Mormon Love-in," in Blair Van Dyke and Loyd Ericson, eds.,&nbsp;<em>Perspectives on Mormon Theology: Apologetics&nbsp;</em>(Greg Kofford Books, forthcoming May 2017)</p>
<p>"Conservatism, Aesthetic and Active: Reflections on Roger Scruton and Pierre Manent,"&nbsp;<em>Perspectives on Political Science&nbsp;</em>45:4 (2016)</p>
<p>"The Claims of Subjectivity and the Limits of Politics," in&nbsp;<em>Subjectivity, Ancient and Modern</em>, eds. R. J. Snell and Steven F. McGuire, Lexington Books, 2016.&nbsp;&nbsp;</p>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<h2 class="ms-rteElement-H2">Darren Hawkins</h2>
<hr />
<p>"Down the Rathole? Public Support for Foreign Aid," coauthor with Reuben Hurst and Taylor Tidwell.&nbsp;<em>International Studies Quarterly&nbsp;</em>61(2): 442-454, July 2017.</p>
<p>"Dependence Networks and the Diffusion of Domestic Political Institutions," coauthor with Jay Goodliffe.&nbsp;<em>Journal of Conflict Resolution</em>&nbsp;61(4): 903-929, April 2017.</p>
<p>"States and International Courts: The Politics of Prosecution in Sierra Leone," coauthor with Chad Losee.&nbsp;<em>Journal of Human Rights</em>&nbsp;13(1): 48-68, March 2014.</p>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<h2 class="ms-rteElement-H2">Kirk Hawkins</h2>
<hr />
<p>&nbsp;</p>
<p>Hawkins, Kirk A. and Crist&oacute;bal Rovira Kaltwasser. 2017. "The ideational approach to populism."&nbsp;<em>Latin American Research Review.&nbsp;</em>52(3): 513-28.</p>
<p>Hawkins, Kirk A. 2016. "Chavismo, liberal democracy, and radical democracy."&nbsp;<em>Annual Review of Political Science.&nbsp;</em>19: 311-29.</p>
<p>Hawkins, Kirk A. 2016. "Responding to radical populism: Chavismo in Venezuela."&nbsp;<em>Democratization.&nbsp;</em>23 (2): 242-62.</p>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<h2 class="ms-rteElement-H2">John&nbsp;Holbein</h2>
<hr />
<p>&nbsp;</p>
<div>Holbein, John B. &ldquo;Childhood Skill Development and Adult Political Participation.&rdquo;<em>&nbsp;American&nbsp;Political Science Review</em>&nbsp;111, no. 3 (2017): 572-583.</div>
<div>&nbsp;</div>
<div>Holbein, John B. &amp; Helen F. Ladd. &ldquo;Accountability Pressure: Regression Discontinuity Estimates of&nbsp;how NCLB Affects Student Behavior.&rdquo;&nbsp;<em>Economics of Education Review&nbsp;</em>58 (2017): 55-67</div>
<div>&nbsp;</div>
<div>Ladd, Helen F., Charles T. Clotfelter, and John B. Holbein. &ldquo;The Growing Segmentation of the&nbsp;Charter School Market in North Carolina&rdquo;&nbsp;<em>Education Finance and Policy</em>&nbsp;12, no. 4 (2017): 536-563</div>
<p>&nbsp;</p>
<h2 class="ms-rteElement-H2">Eric Hyer</h2>
<hr />
<p>&nbsp;</p>
<p>2017. "Lean, Special, or Consensual? Vulnerability and External Buffering in the Small States of East-Central Europe" (with Dorothee Bohle).&nbsp;<em>Comparative Politics</em>, 49(2): 191-212.</p>
<p>2017. "Grand Coalitions and Democratic Dysfunction: Two Warnings From Central Europe.&nbsp;<em>Government and Opposition</em>, 52(2): 329-355.</p>
<p>2017. "Ungleiche Zwillinge: Gewerkschafter in der SPD" (with Martin Behrens).&nbsp;<em>WSI-Mitteilungen</em>, August, 587-596.</p>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<h2 class="ms-rteElement-H2">Wade Jacoby</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div>
<p>2017. "Lean, Special, or Consensual? Vulnerability and External Buffering in the Small States of East-Central Europe" (with Dorothee Bohle).&nbsp;<em>Comparative Politics</em>, 49(2): 191-212.</p>
<p>2017. "Grand Coalitions and Democratic Dysfunction: Two Warnings From Central Europe.&nbsp;<em>Government and Opposition</em>, 52(2): 329-355.</p>
<p>2017. "Ungleiche Zwillinge: Gewerkschafter in der SPD" (with Martin Behrens).&nbsp;<em>WSI-Mitteilungen</em>, August, 587-596.</p>
</div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<h2 class="ms-rteElement-H2">Chris Karpowitz</h2>
<hr />
<p>&nbsp;</p>
<div>Christopher F. Karpowitz, J. Quin Monson, and Jessica Preece. 2017. &ldquo;How to Elect More Women: Gender and Candidate Success in a Field Experiment.&rdquo;&nbsp;<em>Th</em><em>e American Journal of Political Science.</em>&nbsp;61(4): 927-943.</div>
<div>&nbsp;</div>
<div>
<div>Daniel M. Butler, Christopher F. Karpowitz, and Jeremy C. Pope. 2017. &ldquo;Who Gets the Credit? Legislative Responsiveness and Evaluations of Members, Parties, and the U.S. Congress.&rdquo;&nbsp;<em>Political Science Research and Methods.</em>&nbsp;5(2): 351-366. Available online at https://doi.org/10.1017/psrm.2015.83.</div>
</div>
<div>
<div>Carolyne Abdullah, Christopher F. Karpowitz, Chad Raphael.&nbsp;2016. &ldquo;Affinity Groups, Enclave Deliberation, and Equity.&rdquo;<em>&nbsp;Journal of Public Deliberation</em>&nbsp;12(2): Article 6. Available online at http://www.publicdeliberation.net/jpd/vol12/iss2/art6.</div>
</div>
<div><br />
<h2 class="ms-rteElement-H2">David Magleby</h2>
<hr />
<div><em>Government by the People</em>. New York: Pearson. 2015.<br /><br />"The Necessity of&nbsp;Political Parties and the Importance of Compromise" in&nbsp;<em>BYU Studies Quarterly</em>. 2015.<br /><br />"The 2012 Election as a Team Sport" in&nbsp;<em>Financing the 2012 Election</em>, edited volume. Washington, D.C.: Brookings Institution. 2014.</div>
<br />
<h2 class="ms-rteElement-H2">Quinn Mecham</h2>
<hr />
<div>&nbsp;</div>
</div>
<p>"A Government of the Opposition: How Moroccan Islamists' Dual Role Contributes to their Electoral Success," in&nbsp;<em>Adaptation Strategies of Islamist Movements</em>, POMEPS Studies 26 (April 2017).&nbsp; Project on Middle East Political Science: Washington, DC.</p>
<p>"Parliamentary Opposition Under Hybrid Regimes: Evidence from Egypt" (with Bryce Loidolt),&nbsp;<em>Legislative Studies Quarterly&nbsp;</em>41:4 (November 2016), pp. 997-1022.</p>
<p>"Review of The Awakening of Muslim Democracy: Religion, Modernity, and the State, by Jocelyne Cesari,"&nbsp;<em>Perspectives on Politics</em>&nbsp;14:2 (June 2016).</p>
<p><br /><br /></p>
<div>
<h2 class="ms-rteElement-H2">Quin Monson</h2>
<hr />
<div>"Representational Inconsistency: Presentation of Self and Explanations of Washington Activity in Campaign Mail and Franked Mail" in&nbsp;<em>Congress and the Presidency</em>. 2015.<br /><br />"A Politically Peculiar People: How Mormons Moved Into and Then Out Of the Political Mainstream" in&nbsp;<em>Mormonism and American Politics</em>. Columbia University Press. 2015.<br /><br />"Does Civic Education Matter? The Power of Long-Term Observation and the Experimental Method" in&nbsp;<em>Journal of Political Science Education</em>. 2015.</div>
&nbsp;
<h2 class="ms-rteElement-H2">Chad Nelson</h2>
<hr />
<p>&ldquo;Why the Great Powers Permitted the Creation of an American Hegemon.&rdquo;&nbsp;<em>Political Science Quarterly&nbsp;</em>132:4 (2017-18), 685-718.</p>
<div>&ldquo;The Evolution of Norms: American Policy toward Revolution in Iran and Egypt.&rdquo;&nbsp;<em>Journal of Human Rights</em>&nbsp;16:4 (2017), 494-515.&nbsp;</div>
<div>&nbsp;</div>
<div>&ldquo;The Attenuation of Revolutionary Foreign Policy&rdquo; (with Arthur Stein).&nbsp;<em>International Politics&nbsp;</em>52:5 (2015), 626-636.</div>
<p>&nbsp;</p>
<h2 class="ms-rteElement-H2">Daniel Nielson</h2>
<hr />
<div>"Causes of Non-Compliance with International Law: Evidence from a Field Experiment on Financial Transparency" in&nbsp;<em>American Journal of Political Science</em>. With M. Findley and J. Sharman. Wiley. 2015.<br /><br />"How Collaborations with Undergraduates Improve Both Learning and Research: With Examples from International Development Experiments" in&nbsp;<em>Political Science and Politics</em>. With S. Herrick and W. Matthias. 2015.<br /><br />"Orchestrating the Fight against Anonymous Incorporation: A Field Experiment" in&nbsp;<em>International Organizations as Orchestrators</em>. With M. Findley and J. Sharman. Cambridge University Press. 2015.</div>
<br />
<h2 class="ms-rteElement-H2">Kelly Patterson</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div>"Who's in and Who's Out: The Politics of Religious Norms."&nbsp;<em>Politics and Religion</em>&nbsp;9 (September 2016): 509-536 (with Christopher Karpowitz and J. Quin Monson).</div>
<div>&nbsp;</div>
<div>"Financing the 2012 Congressional Elections" in&nbsp;<em>Financing the 2012 Elections</em>. With P. Herrnson and S. Perry Curtis. Washington, D.C.: Brookings Institution Press. 2014.<br /><br />"Online Polls and Registration Based Sampling: A New Method for Pre-election Polling" in&nbsp;<em>Political Analysis</em>. With M. Barber, Q. Monson, and C. Mann. 2014.<br /><br /><br />
<h2 class="ms-rteElement-H2">Jeremy Pope</h2>
<hr />
<div>
<div>&ldquo;Who Gets the Credit? Legislative Responsiveness and Evaluations of Members, Parties, and the US Congress&rdquo; (with Daniel Butler and Christopher Karpowitz), 2017,&nbsp;<em>Political Science Research Methods</em>&nbsp;5, 351 - 366.</div>
</div>
<div>"Clinton scandals may have defeated one presidential candidate. Could they do it again?"&nbsp;<em>Monkey Cage, The Washington Post</em>. 2015.<br /><br />"Voting for a Founding: Testing the effect of economic interests at the Federal Convention of 1787" in<em>&nbsp;Journal of Politics.</em>&nbsp;2015.<br /><br /></div>
</div>
</div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<h2 class="ms-rteElement-H2">Jessica Preece</h2>
<hr />
<p>&nbsp;</p>
<p>Preece, Jessica Robinson. 2016. "A Discussion of Dawn Langan Teele's Field Experiments and Their Critics: Essays on the Uses and Abuses of Experimentation in the Social Sciences."&nbsp;<em>Perspectives on Politics</em>&nbsp;14(4): 1133.</p>
<p>Preece, Jessica Robinson. 2016. "The right kind of performance feedback narrows the gender gap in political engagement." LSE Democratic Audit UK blog: http://www.democraticaudit.com/?p=22031</p>
<p>Preece, Jessica Robinson. 2015. Review of&nbsp;<em>More Women Can Run: Gender and Pathways to the State Legislatures</em>, by Susan Carroll and Kira Sanbonmatsu,&nbsp;<em>Journal of Women, Politics, and Policy&nbsp;</em>36(2): 246-248</p>
<p>&nbsp;</p>
<h2 class="ms-rteElement-H2">Joel Selway</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div class="ms-rteThemeForeColor-2-3">Hawkins, Kirk, and Joel Selway. 2017. "Thaksin the Populist?"&nbsp;<em>Chinese Political Science Review</em>&nbsp;2, no. 3: 372&ndash;394.</div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div class="ms-rteThemeForeColor-2-3"><span class="ms-rteThemeFontFace-1">Christensen, Raymond, and Joel Selway.</span><strong class="ms-rteThemeFontFace-1">&nbsp;</strong><span class="ms-rteThemeFontFace-1">2017. &ldquo;Explaining the Different Outcomes in Thailand and Japan&rsquo;s Electoral Reform.&rdquo;&nbsp;<em>Journal of Asian Studies&nbsp;</em></span><span class="ms-rteThemeFontFace-1">76, no. 2: 283-310.</span></div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div class="ms-rteThemeForeColor-2-3">Selway, Joel. 2015. "Ethnic Accommodation and Electoral Rules in Ethno-geographically Segregated Societies: PR Outcomes under FPTP in Myanmar Elections."<em>Journal of East Asian Studies&nbsp;</em>15(3): 321-360.</div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<h2 class="ms-rteElement-H2">Kendall Stiles</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">Author -&nbsp;Trust and Hedging in International Relations. University of Michigan Press 2018.</div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div class="ms-rteThemeForeColor-2-3">Co-author with Margaret Karns and Karen Mingst -&nbsp;International Organization: The Politics and Processes of Global Governance, 3<sup>rd</sup>&nbsp;edition. Boulder, CO: Lynne Rienner 2015.</div>
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div class="ms-rteThemeForeColor-2-3">Author -&nbsp;State Responses to International Law.&nbsp;London: Routledge 2014. Winner &ndash; Best Book of 2014-15 from the International Law Section of the International Studies Association.</div>
<div class="ms-rteThemeForeColor-2-3"><br /><br /></div>
<h2 class="ms-rteElement-H2">Sven Wilson</h2>
<hr />
<div class="ms-rteThemeForeColor-2-3">&nbsp;</div>
<div>
<div>&nbsp;"Economic Perspectives on Utah Medicaid Reform under the ACA."&nbsp;<em>Utah Department of Health</em>. 2013.</div>
<span style="color: #303030;"><br />"Introduction (Special Issue on Obesity and Family Across the Life Course)."&nbsp;<em>Economics and Human Biology&nbsp;</em>pp. 329-332. Elsevier. December 2012.</span></div>
<div><span style="color: #303030;"><br /></span>&nbsp;</div>
<div>&nbsp;</div>