<div id="great-minds">
    <br />
    <a href="/Pages/great-minds-overview" target="_blank">
        <div class="great-minds-tile">
            <div>Overview</div>
        </div>
    </a>
    <a href="/Pages/mentored-research-abroad" target="_blank">
        <div class="great-minds-tile">
            <div>Mentored Research Abroad</div>
        </div>
    </a>
    <a href="http://csed.byu.edu/" target="_blank">
        <div class="great-minds-tile">
            <div>Center for the Study of Elections and Democracy</div>
        </div>
    </a>
    <a href="https://pedl.byu.edu/Pages/home.aspx" target="_blank">
        <div class="great-minds-tile">
            <div>Political and Economic Development Labs</div>
        </div>
    </a>
    <a href="https://byupas.byu.edu/Pages/Home.aspx" target="_blank">
        <div class="great-minds-tile">
            <div>BYU Political Affairs Society</div>
        </div>
    </a>
    <a href="http://gcel.byu.edu/" target="_blank">
        <div class="great-minds-tile">
            <div>Gender and Civic Engagement</div>
        </div>
    </a>
    <a href="http://www.womanstats.org/" target="_blank">
        <div class="great-minds-tile">
            <div>WomanStats Project</div>
        </div>
    </a>
    <a href="http://exitpoll.byu.edu/" target="_blank">
        <div class="great-minds-tile">
            <div>Utah Colleges Exit Poll</div>
        </div>
    </a>
    <a href="https://washingtonseminar.byu.edu/" target="_blank">
        <div class="great-minds-tile">
            <div>Washington Seminar</div>
        </div>
    </a>
    <a href="https://uslinternship.byu.edu/Pages/Home.aspx" target="_blank">
        <div class="great-minds-tile">
            <div>Utah State Legislature Internship</div>
        </div>
    </a>
    <a href="/Pages/byu-tocqueville-group" target="_blank">
        <div class="great-minds-tile">
            <div>BYU Tocqueville Group</div>
        </div>
    </a>
    <a href="/Pages/pi-sigma-alpha" target="_blank">
        <div class="great-minds-tile">
            <div>Pi Sigma Alpha</div>
        </div>
    </a>
    <a href="/Pages/foreign-language-initiative" target="_blank">
        <div class="great-minds-tile">
            <div>Foreign Language Initiative</div>
        </div>
    </a>
    <a href="http://kennedy.byu.edu/meu/" target="_blank">
        <div class="great-minds-tile">
            <div>Model European Union</div>
        </div>
    </a>
    <a href="https://www.facebook.com/groups/533462913456107/about/" target="_blank">
        <div class="great-minds-tile">
            <div>Women in Politics</div>
        </div>
    </a>
    <a href="/Pages/professional-skills-initiative" target="_blank">
        <div class="great-minds-tile">
            <div>Professional Skills Initiative</div>
        </div>
    </a>
</div>
