<div><br />
<div>&nbsp;</div>
<div style="text-align: center;"><img style="width: 50%;" src="/Plugins/FileManager/Files/GreatMinds/gma-overview.jpg" alt="gma-overview.jpg"/></div>
</div>
<div>&nbsp;</div>
<p>The Department of Political Science at Brigham Young University has 11 affiliated organizations that supplement its academic program: Mentored Research Abroad (MRA); the Center for the Study of Elections and Democracy (CSED); Political and Economic Development Labs (PEDL); Gender and Civic Engagement (GCE); the WomanStats Project; the Utah Colleges Exit Poll, the Washington Seminar; the Utah State Legislature; the BYU Tocqueville Group; and the Pi Sigma Alpha national honor society.</p>
<div><br />Each organization or professional group contributes significantly to the world through research, activities, programs and academic presentations. They also provide ways for students still in their undergraduate program to get hands-on, substantive experience that can have an impact on the world. Get involved by contacting representatives of the Political Science Department in 745 SWKT or by submitting questions online at the respective websites, linked&nbsp;<a href="https://politicalscience.byu.edu/Pages/Great-Minds-Academy.aspx">here</a>.&nbsp;</div>
<div>&nbsp;</div>
<div style="text-align:center;"><img  src="/Plugins/FileManager/Files/GreatMinds/2017Logo.jpg" alt="2017Logo_Horizontal_WhiteonBlue.jpg" /></div>