<br /><div id="mycalendar">
    <div id="calendar" data-calendar-name="Calendar" data-calendar-view="upcomingEvents">&nbsp;</div>
    <p><br /><a class="btn btn-primary btn-block" href="CalendarPlugin/ViewCalendar/Calendar">See Full Calendar</a></p>
</div>


