<br /><div class="row">
    <div class="col-md-6"><img style="width:100%;" src="/Plugins/FileManager/Files/GreatMinds/Africa.jpg" alt="Africa.jpg" /></div>

    <div class="col-md-6"><img style="width:100%;" src="/Plugins/FileManager/Files/GreatMinds/Asia.jpg" alt="Asia.jpg" />&nbsp;</div>
</div>

<p>The BYU Political Science Department sponsors programs that take students, faculty, and professionals into foreign countries to assist in meaningful field research and service projects that have a direct impact on the world community.</p>
<p>Most research occurs in Africa and Asia, but recent research projects have taken students and faculty all over the world, from Thailand to Uganda, from Tanzania to the United Kingdom, from India to Peru, and beyond. Students typically undertake projects of their own design and collaborate with faculty on projects the professors have designed.</p>
<p>The Mentored Research programs offer undergraduates purposeful engagement and substantive, practical work that directly influences the world. For further inquiry, contact the professors involved. Currently, these include Professors Gubler and Selway (United Kingdom) and Professors Nielson and D. Hawkins.</p>
<br /><div style="text-align:center;"><img src="/Plugins/FileManager/Files/GreatMinds/2017Logo.jpg" alt="" /></div>