<div align="center">
<h1><img style="width: 60%;" src="../Plugins/FileManager/Files/GreatMinds/PSAlogo.png" alt="Banner type logo with chapter.png" /><br /><br /></h1>
<h1 style="text-align: center;">Chapter Beta Mu</h1>
<div>
<div style="text-align: center;"><a href="https://politicalscience.byu.edu/Pages/Clubs/BYUPAS%20Student%20Chapter/AboutUs.aspx">Pi Sigma Alpha</a>&nbsp;|&nbsp;<a href="https://politicalscience.byu.edu/Pages/Clubs/BYUPAS%20Student%20Chapter/Home.aspx">Home</a>&nbsp;|&nbsp;&nbsp;<a href="https://politicalscience.byu.edu/Pages/Clubs/BYUPAS%20Student%20Chapter/PastOfficers.aspx">Past Officers</a></div>
</div>
</div>
<table border="0" width="100%" cellspacing="5" cellpadding="5">
<tbody>
<tr>
<td height="163"><br />
<p>BYUPAS student chapter is also the Beta Mu Chapter of Pi Sigma Alpha (PSA), the Political Science Honors Society. PSA cosponsors many of the yearly BYU Political Affairs Society activities on campus. These activities offer opportunities to meet other students and forge relationships with professors while discussing political issues in a variety of settings.</p>
<p>&nbsp;</p>
<p><strong>There are two forms of membership:</strong></p>
<p>&nbsp;</p>
<h4><strong>Chapter Membership:</strong></h4>
<p>&nbsp;</p>
<p>Members of the BYU Political Affairs Society automatically become member of the Beta Mu chapter of Pi Sigma Alpha. Go to&nbsp;<a href="http://byupas.org/">http://byupas.org</a>&nbsp;to join.</p>
<p>&nbsp;</p>
<h4><strong>National Membership:</strong></h4>
<p>Applicants must be at least juniors or seniors, have an overall GPA of 3.5 (and a major GPA of 3.0), and have completed at least one political science course at the 300 level or above. Applications for National Membership are accepted annually, around the middle of winter semester. National Membership is considered lifetime membership in Pi Sigma Alpha.</p>
</td>
</tr>
</tbody>
</table>