<h1 style="text-align: center;">Thursday Group</h1>
<div style="text-align: center;">&nbsp;&nbsp;<span class="ms-rteFontSize-3"><em>12:00-1:30pm in 793 SWKT unless otherwise indicated</em></span></div>
<div>&nbsp;</div>