

<h3 style="text-align: center;">2018 Schedule</h3>

<table id="thursday-group">
<tbody>
<tr class="ms-rteTableHeaderRow-default">
<th class="ms-rteTableHeaderFirstCol-default" colspan="1" rowspan="1"><strong>DATE</strong></th>
<th class="ms-rteTableHeaderOddCol-default" colspan="1" rowspan="1"><strong>AUTHOR</strong></th>
<th class="ms-rteTableHeaderEvenCol-default" colspan="1" rowspan="1"><strong>PAPER</strong></th>
<th class="ms-rteTableHeaderLastCol-default" colspan="1" rowspan="1"><strong>DISCUSSANT</strong></th>
</tr>
<tr class="ms-rteTableOddRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">01/11/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">Jonathan Ladd,&nbsp;<br />Georgetown University</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1"><em>Affective and Perceptual Polarization Among Party Activists</em></td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">Mike Barber</td>
</tr>
<tr class="ms-rteTableEvenRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">01/18/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">Lucan Way,&nbsp;<br />University of Toronto</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1"><em>The Revolutionary Origins&nbsp;<br />of Soviet Durability</em></td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">Scott Cooper</td>
</tr>
<tr class="ms-rteTableOddRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">01/25/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">Brett Benson,<br />Vanderbilt University</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1"><em>Transmission of Violence through Arms Trade Networks</em></td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">Jay Goodliffe</td>
</tr>
<tr class="ms-rteTableEvenRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">02/01/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">Boliang Zhu,&nbsp;<br />Penn State University</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1"><em>Greasing the Wheels of Commerce?<br />Corruption and Foreign Investment<br /></em></td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">Celeste Beesley</td>
</tr>
<tr class="ms-rteTableOddRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">02/08/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">Cecilia Mo,<br />Berkeley</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1"><em>Youth National Service and Women's Political Ambition:&nbsp;</em><br /><em>The Case of Teach for America</em></td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">John Holbein</td>
</tr>
<tr class="ms-rteTableEvenRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">02/15/2018</th>
<td class="ms-rteTableLastCol-default" colspan="3" rowspan="1" style="text-align: center;">Department Meeting: No Thursday Group</td>
</tr>
<tr class="ms-rteTableOddRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">02/22/2018</th>
<td class="ms-rteTableLastCol-default" colspan="3" rowspan="1" style="text-align: center;">Durham Lecture: 11am in 250 SWKT</td>
</tr>
<tr class="ms-rteTableEvenRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">02/22/2018<br /><span class="ms-rteFontSize-2">*start time is 3:30pm</span></th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">Jennifer Lawless,&nbsp;<br />American University</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1"><em>Nice Girls?&nbsp;</em><br /><em>Sex, Collegiality, and Bipartisan Cooperation in the U.S. Congress</em></td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">Richard Davis</td>
</tr>
<tr class="ms-rteTableOddRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">03/01/2018</th>
<td class="ms-rteTableLastCol-default" colspan="3" rowspan="1" style="text-align: center;">Department Hiring Meeting: No Thursday Group</td>
</tr>
<tr class="ms-rteTableEvenRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">03/08/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">John Zaller, UCLA</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1"><em>Social Choice and Coordination Problems in Open House Primaries<br /></em></td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">David Magleby</td>
</tr>
<tr class="ms-rteTableOddRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">03/15/2018</th>
<td class="ms-rteTableLastCol-default" colspan="3" rowspan="1" style="text-align: center;">No Thursday Group</td>
</tr>
<tr class="ms-rteTableEvenRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">03/22/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">Hahrie Han,<br />UC Santa Barbara</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1"><em>Civic Feedbacks<br /></em></td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">Richard Davis</td>
</tr>
<tr class="ms-rteTableOddRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">03/29/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">Jessica Preece and Adam Dynes</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1"><em>Evidence of Gendered Selection Effects into Public Office:&nbsp;<br />Gendered Institutions, Political Ambition, and Personality Differences</em></td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">Jeremy Pope</td>
</tr>
<tr class="ms-rteTableEvenRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">04/05/2018</th>
<td class="ms-rteTableLastCol-default" colspan="3" rowspan="1" style="text-align: center;">ISA and MPSA Conferences: No Thursday Group</td>
</tr>
<tr class="ms-rteTableOddRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">04/12/2018</th>
<td class="ms-rteTableLastCol-default" colspan="3" rowspan="1" style="text-align: center;">Fulton Poster Conference: No Thursday Group</td>
</tr>
<tr class="ms-rteTableEvenRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">04/19/2018</th>
<td class="ms-rteTableLastCol-default" colspan="3" rowspan="1" style="text-align: center;"><span class="ms-rteFontSize-3">Canceled: No Thursday Group</span></td>
</tr>
<tr class="ms-rteTableOddRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">04/26/2018</th>
<td class="ms-rteTableLastCol-default" colspan="3" rowspan="1" style="text-align: center;">University Commencement: No Thursday Group</td>
</tr>
<tr class="ms-rteTableEvenRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">05/03/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">Adam Dynes</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1"><em>The party decides the rules: How different vote counting rules change the outcome of the 2016 Republican Primary</em></td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">Mike Barber</td>
</tr>
<tr class="ms-rteTableOddRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">05/10/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">Jim Curry, University of Utah</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1"><em>What is Regular Order Worth?&nbsp;</em><br /><em>Partisan Lawmaking&nbsp;</em><br /><em>and Congressional Processes</em></td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">Kelly Patterson</td>
</tr>
<tr class="ms-rteTableEvenRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">05/17/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1"><span class="ms-rteFontSize-3">Mike Barber and Jeremy Pope</span></td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1">TBA</td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">TBA</td>
</tr>
<tr class="ms-rteTableOddRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">05/24/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">Jay Goodliffe and Quin Monson</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1">TBA</td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">TBA</td>
</tr>
<tr class="ms-rteTableEvenRow-default">
<th class="ms-rteTableFirstCol-default" colspan="1" rowspan="1">05/31/2018</th>
<td class="ms-rteTableOddCol-default" colspan="1" rowspan="1">Chris Warshaw,&nbsp;<br />George Washington University</td>
<td class="ms-rteTableEvenCol-default" colspan="1" rowspan="1">TBA</td>
<td class="ms-rteTableLastCol-default" colspan="1" rowspan="1">TBA</td>
</tr>
<tr class="ms-rteTableFooterRow-default">
<th class="ms-rteTableFooterFirstCol-default" colspan="1" rowspan="1">06/05/2018&nbsp;<span class="ms-rteFontSize-1">*special Tuesday Group</span></th>
<td class="ms-rteTableFooterOddCol-default" colspan="1" rowspan="1"><span class="ms-rteThemeForeColor-2-5">Jeremy Pope and James Lee</span></td>
<td class="ms-rteTableFooterEvenCol-default" colspan="1" rowspan="1"><span class="ms-rteThemeForeColor-2-5">TBA</span></td>
<td class="ms-rteTableFooterLastCol-default" colspan="1" rowspan="1"><span class="ms-rteThemeForeColor-2-5">TBA</span></td>
</tr>
</tbody>
</table>
<br />
<p style="text-align:center;">To see the archive of previous semesters, please <a href="/Pages/thursday-group-archive">click here</a></p>