<h1>Travel FAQ</h1><br />

<ul id="faq-list">
<li><a href="">What account do I use on my Travel Authorization and Expense Report?</a></li>
<li><a href="">What do I do with emails about charges older than 15 days on my Travel Card?</a></li>
<li><a href="">Who do I contact with travel questions?</a></li>
<li><a href="">What do I do with a CREDIT back to my Travel Card?</a></li>
<li><a href="">How does Meals Per Diem/Meals Non-Per Diem work in the new Y-Expense system?</a></li>
<li><a href="">Is there TRAINING for Y-Expense and Y-Travel?</a></li>
<li><a href="">What is the billing address for my Travel Card?</a></li>
</ul><br />
<div>&nbsp;</div>

<div><a href="https://politicalscience.byu.edu/Pages/Faculty/TravelFAQ.aspx#0" name="0"></a>
<h2 class="ms-rteElement-H2">What account do I use on my Travel Authorization and Expense Report?</h2>
<p class="ms-rteElement-P">Because account numbers are confidential, we are not able to post them on the website. Please contact either Carina Alleman or the student accountant (currently Eva Medeiros).</p>
<div>
<p class="ms-rteElement-P">Prior to contacting them, you&nbsp;will need to know if this is a department-paid trip or coming from your research account and if you have any additional on-campus funding sources (such as Kennedy Center).</p>
</div>
<p class="ms-rteElement-P"><a href="/Pages/travelfaq">Return to Questions List</a></p>
<hr />
<div><a href="https://politicalscience.byu.edu/Pages/Faculty/TravelFAQ.aspx#1" name="1"></a>&nbsp;</div>
</div>
<h2 class="ms-rteElement-H2">What do I do with emails about charges older than 15 days on my Travel Card?</h2>
<p>If the trip has already happened, create an Expense Report and import the charge.</p>
<p>If the trip is up-coming and will be attached to a future Expense Report, select an approved Travel Authorization to assign a new Status Date to the card transaction(s).&nbsp;</p>
<p><br />Click&nbsp;<a href="https://politicalscience.byu.edu/Faculty/How%20to%20Assign%20a%20New%20Status%20Date.pdf">Here</a>&nbsp;for instructions on how to assign a new Status Date to a transaction.</p>
<p><a href="/Pages/travelfaq">Return to Questions List</a></p>
<hr />
<p><a id="2" href="https://politicalscience.byu.edu/Pages/Faculty/TravelFAQ.aspx#2" name="2"></a>&nbsp;</p>
<h2 class="ms-rteElement-H2">Who do I contact with travel questions?</h2>
Carina Alleman is in charge of travel and can help answer general travel questions.&nbsp;<br />The Y-Expense Help Desk can also assist you at extension 2-5644.
<p>&nbsp;</p>
<p><a href="/Pages/travelfaq">Return to Questions List</a></p>
<hr />
<p><a id="3" href="https://politicalscience.byu.edu/Pages/Faculty/TravelFAQ.aspx#3" name="3"></a>&nbsp;</p>
<h2 class="ms-rteElement-H2">What do I do with a CREDIT back to my Travel Card?</h2>
<p>Include both the original charge and the refunded amount on the original Expense Report, if possible, and submit it as normal, making a note that you were refunded&nbsp;and why.&nbsp;<br /><br />If you need to submit the Expense Report before the refund has come through, remove the original charge from the expense report. Then, assign the original charge to a new Status Date until the refunded amount comes through. When the refunded amount comes through the Y-Expense system, create an expense report that is attached to the original travel authorization, making a note of why you received the refund, and that it hadn&rsquo;t come through in the original expense report.</p>
<p><a href="/Pages/travelfaq">Return to Questions List</a></p>
<hr />
<p><a id="4" href="https://politicalscience.byu.edu/Pages/Faculty/TravelFAQ.aspx#4" name="4"></a>&nbsp;</p>
<h2 class="ms-rteElement-H2">How does Meals Per Diem/Meals Non-Per Diem work in the new Y-Expense system?</h2>
<p><strong>Meals Per Diem:</strong>&nbsp; With this option, you will be claiming a generic amount per day for your meals for the trip.&nbsp;You do NOT need receipts.<br /><br />Meals paid for using the travel card should be attached as "Meals Per Diem," and then they will be subtracted from the amount to be reimbursed to the individual. Once in the report, the individual will need to select the meals they need to be reimbursed for, including the meals they purchased on the travel card, because those amounts on the travel card will automatically be subtracted from the Per Diem reimbursement.&nbsp;<br /><br /><em>**Please note that the Meals Per Diem function can only be used for a faculty member on one Expense Report for a given trip. If you split your Expense Reporting for one trip into two or more reports, you can only put Meals Per Diem on one of them.</em><br /><br /><strong>Meals Non Per Diem:&nbsp;</strong>&nbsp;With this option, you are only claiming what was actually purchased for meals on the trip.&nbsp;This option DOES require receipts.</p>
<p>This way you will treat each meal as its own charge. Travel card meal purchases should be attached as meals non-per diem, and non travel card purchases should be added on the Expense Report page under the Add Meals Non-Per Diem section.</p>
<p><a href="/Pages/travelfaq">Return to Questions List</a></p>
<hr />
<p><a id="5" href="https://politicalscience.byu.edu/Pages/Faculty/TravelFAQ.aspx#5" name="5"></a>&nbsp;</p>
<h2 class="ms-rteElement-H2">How do I handle airfare and lodging?</h2>
<p>Normally, individuals should purchase flights and hotel reservations through BYU Travel as we receive corporate discounts when we use BYU Travel Agents.&nbsp; Travelers are welcome to look for better deals on Orbitz or HotWire, etc., but rather than purchase these themselves immediately, please have the information ready when you speak with the BYU Travel&nbsp;agent as he or she can either match that price&nbsp;or actually purchase that itinerary information&nbsp;<em>for</em>&nbsp;you through the 3rd party website.</p>
<p>Any travel (flight and hotel) scheduled through BYU travel and direct billed to the Department should NOT be included on the Expense Reports. If it is paid for on the traveler&rsquo;s travel card, it does need to be included on the Expense Report.&nbsp;<br /><br /><em>**Before an individual may purchase or book airfare, he or she must have an approved Travel Authorization # for the trip</em>.</p>
<p><a href="/Pages/travelfaq">Return to Questions List</a></p>
<hr />
<p><a id="6" href="https://politicalscience.byu.edu/Pages/Faculty/TravelFAQ.aspx#6" name="6"></a>&nbsp;</p>
<h2 class="ms-rteElement-H2">What is this yellow error message at the top of the screen in Y-Expense? Why can't I make any changes?</h2>
<p>Yellow error messages appear when Y-Expense sees something on the report that doesn't mesh with what should be there.&nbsp;When there is a yellow&nbsp;warning on top of the expense report, you will need to fix the issue before doing&nbsp;anything new on the expense report.<br /><br />A common issue encountered with this is when individuals skip forward to the last step in the report and try&nbsp;to itemize the dollar amounts to specific accounts before all of the charges have been properly added to the report, and therefore&nbsp;the totals do not add up.&nbsp;This will freeze the Expense Report and you will not be able to add or change any items in the report until the allocations in the last step are removed and the Expense Report is saved again.<br /><br />Keep in mind to follow the steps on the Expense Report in order avoid this problem. The amounts should only be itemized and calculated&nbsp;<em>after&nbsp;</em>all other sections of the Expense Report are complete.</p>
<p><a href="/Pages/travelfaq">Return to Questions List</a></p>
<hr />
<p><a id="7" href="https://politicalscience.byu.edu/Pages/Faculty/TravelFAQ.aspx#7" name="7"></a>&nbsp;</p>
<h2 class="ms-rteElement-H2">What do I do with group travel including students?</h2>
<div>If the students will be going on the trip ALONE (without a supervising faculty member) and there is no cash advance involved, send the student in question to the Department Secretary to fill out a special Student Travel Authorization Form and to get approval from the correct authorities to send this student on travel alone.</div>
<div>&nbsp;</div>
<div>If a faculty member is accompanying the students OR if there is a cash advance involved, the faculty member is responsible for the Travel Authorization and the Expense Report.&nbsp; All charges and financial information should be handled as though it is going directly through the faculty member and all funds should be distributed and monitored by the faculty member.&nbsp; There will be no reporting in the student's name(s).</div>
<div>&nbsp;</div>
<h2 class="ms-rteElement-H2">Claiming Meals Per-Diem for Students:</h2>
<ul>
<li>This charge will be recognized under the "Meals - Group or Hosted" section in one complete charge. Under the business purpose be sure to put how many breakfast, lunch, and dinners are being claimed.</li>
<li>Meals Per Diem for the Professor will be done as normal, in the Meals Per Diem section.</li>
<li>If at all possible, it is better to submit the entire trip in one expense report, because Meals Per Diem for the faculty member can only be claimed on Expense Reports</li>
</ul>
<div><a href="/Pages/travelfaq">Return to Questions List</a>&nbsp;&nbsp;</div>
<hr />
<p><a id="8" href="https://politicalscience.byu.edu/Pages/Faculty/TravelFAQ.aspx#8" name="8"></a>&nbsp;</p>
<h2 class="ms-rteElement-H2">Is there TRAINING for Y-Expense and Y-Travel?</h2>
<p>If you need some extra help, or are quite new to Y-Expense and even Y-Travel, please feel free to access the online training available via BYU's Website:</p>
<ol>
<li>Log onto myBYU</li>
<li>Under "Campus Links," select "Work" and then&nbsp;"YTrain"</li>
<li>Select "Catalogs"</li>
<li>Select "Financial Services"</li>
<li>Go the second page of offered trainings and select "Y-Travel Training"</li>
<li>Once you have registered, go back to the home page and select "Y-Travel Training" under the "Enrollments" section&nbsp;</li>
</ol>
<p>If you still have more questions, contact the Travel Office at extension 2-3872 or the Y-Expense Help Desk at extension 2-5644.</p>
<p><a href="/Pages/travelfaq">Return to Questions List</a></p>
<hr />
<p><a id="9" href="https://politicalscience.byu.edu/Pages/Faculty/TravelFAQ.aspx#9" name="9"></a>&nbsp;</p>
<h2 class="ms-rteElement-H2">What is the billing address for my Travel Card?</h2>
<p>C-40 ASB, Provo, UT 84602</p>
<p><a href="/Pages/travelfaq">Return to Questions List</a>&nbsp;&nbsp;</p>
<hr />&nbsp;&nbsp;&nbsp;
<div>
<h2 class="ms-rteElement-H2">What do I do when I'm missing receipts?</h2>
<p class="ms-rteElement-P">First,&nbsp;try to&nbsp;obtain a duplicate copy of the receipt from the vendor.</p>
<p class="ms-rteElement-P">If this is not possible,&nbsp;complete a&nbsp;<a href="http://purchasing.byu.edu/dept/travel/1860.pdf">Missing Receipt Affidavit</a>.&nbsp;</p>
<div><a href="/Pages/travelfaq"><span style="color: #0072bc;">Return to Questions List</span></a></div>
</div>
<hr />
<h2 class="ms-rteElement-H2">&nbsp;</h2>
<h4>Have a question that wasn't answered?</h4>
<p>&nbsp;Feel free to contact Carina Alleman.</p>
<div align="center">
<div>&nbsp;</div>
</div>