﻿@model Byu.Fhss.Sce.PageManagement.ScePage
<div class="form-group page-title-group">
	@Html.LabelFor(m => m.Title)
	@Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
	@Html.ValidationMessageFor(m => m.Title)
</div>

<div class="form-group page-uri-name-group">
	@Html.LabelFor(m => m.UriName)
	@Html.EditorFor(m => m.UriName, new { htmlAttributes = new { @class = "form-control" } })
	@Html.ValidationMessageFor(m => m.UriName)
	<div class="alert alert-danger invalid-uri-warning" style="display: none">The given URL Name is invalid.</div>
</div>

<div class="form-group">
	@Html.LabelFor(m => m.TemplateName)
	@Html.DropDownListFor(m => m.TemplateName, new SelectList(Byu.Fhss.Sce.PageManagement.PageManager.TemplateNames.ToDictionary(key => key, value => value.Replace(".cshtml", "").Replace('-', ' ')), "Key", "Value"), new { @class = "form-control" })
	@Html.ValidationMessageFor(m => m.TemplateName)
</div>