﻿<div class="form-group">
	<label for="Title{{REPLACE_DISPLAYORDER}}">Title</label>
	<input type="text" class="form-control" name="Title" id="Title{{REPLACE_DISPLAYORDER}}" value="{{REPLACE_TITLE}}" onchange="PillChange('#Pill{{REPLACE_DISPLAYORDER}} span.pill-name', this.id)">
</div>

<div class="form-group menu-type-group">
	<label for="MenuType{{REPLACE_DISPLAYORDER}}">Menu Type</label>
	<select class="form-control menu-type-select" name="MenuType" id="MenuType{{REPLACE_DISPLAYORDER}}">
		<option value="Link" {{REPLACE_SEL_LINK}}>Link</option>
		<option value="Link to New Window" {{REPLACE_NEWWINDOW_SEL}}>Link to New Window</option>
		<option value="DropDown" {{REPLACE_DROPDOWN_SEL}}>DropDown</option>
	</select>
</div>

<div class="form-group menu-link-group">
	<label for="Link{{REPLACE_DISPLAYORDER}}">Link</label>
	<input type="text" class="form-control" id="Link{{REPLACE_DISPLAYORDER}}" name="Link" value="{{REPLACE_LINK}}">
</div>

<div class="form-group menu-dropdown-group">
	<label for="DD{{REPLACE_DISPLAYORDER}}">DropDown Content (HTML)</label>
	<textarea type="number" class="form-control" id="DD{{REPLACE_DISPLAYORDER}}" name="DropDown" rows="10">{{REPLACE_DD}}</textarea>
</div>

<input type="hidden" class="form-control list-item-display-order" id="DisplayOrder{{REPLACE_DISPLAYORDER}}" name="DisplayOrder" value="{{REPLACE_DISPLAYORDER}}" onchange="PillChange('#Pill{{REPLACE_DISPLAYORDER}} span.pill-order', this.id)">
