﻿<div class="tab-pane" id="Pane{{REPLACE_DISPLAYORDER}}">
	{{REPLACE_FORM}}

	<div class="form-group">
		<button type="button" class="btn btn-danger" onclick="DeleteItem({{REPLACE_DISPLAYORDER}})">Delete This Item</button>
	</div>
</div>