﻿<li class="nav-pill-li" id="Pill{{REPLACE_DISPLAYORDER}}" aria-controls="#Pane{{REPLACE_DISPLAYORDER}}" data-id="{{REPLACE_DISPLAYORDER}}" style="display: none">
	<a href="#Pane{{REPLACE_DISPLAYORDER}}" data-toggle="pill">
		<span class="pill-order">{{REPLACE_REAL_DISPLAYORDER}}</span> - <span class="pill-name">{{REPLACE_TITLE}}</span>
	</a>
</li>