﻿<div class="nav-pill-li" id="AddNavBtnOuter">
	<button type="button" class='btn btn-default' onclick='AddItem({{REPLACE_NEW_ID}}); return false;' id='AddNavBtn'>
		<center>
			<span class='glyphicon glyphicon-plus'></span>
		</center>
	</button>
</div>