﻿<div class="container" style="margin-top: 5rem">
	<form id="ItemForm" class="form-horizontal" onsubmit="Save{{REPLACE_ITEM_TYPE}}(); return false;">

		<div class="row">
			<div class="form-group">
				<label for="select{{REPLACE_ITEM_TYPE}}" class="col-sm-2 control-label">Select {{REPLACE_ITEM_TYPE}}</label>
				<div class="col-sm-10">
					<select class="form-control" id="select{{REPLACE_ITEM_TYPE}}" onchange="MenuChange(this)" data-collection="{{REPLACE_ITEM_TYPE}}"></select>
				</div>
			</div>

			<div class="form-group" id="CreateNew{{REPLACE_ITEM_TYPE}}" style="display: none;">
				<label for="New{{REPLACE_ITEM_TYPE}}" class="col-sm-2 control-label">New {{REPLACE_ITEM_TYPE}}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="New{{REPLACE_ITEM_TYPE}}" placeholder="Name of new {{REPLACE_ITEM_TYPE}}">
				</div>
			</div>
		</div>

		<hr />

		<div class="row" id="EditorForm">
			<div class="col-sm-2" id="EditorPillsOuter">
				<ul id="EditorPills" class="nav nav-pills nav-stacked sortable"></ul>
			</div>
			<div class="col-sm-10">
				<div id="EditorPanes" class="tab-content" style="padding-left: 5px;"></div>
			</div>
		</div>

		<div class="row">
			<div class="form-group">

				<div class="col-sm-offset-2 col-sm-10">
					<div class="alert alert-warning alert-dismissible" role="alert" id="errorWarningDiv" style="display:none">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<strong>Error:</strong> <span id="errorWarningMessage"></span>
					</div>
				</div>

				<div class="col-sm-offset-2 col-sm-10">
					<div class="alert alert-danger alert-dismissible" role="alert" id="errorDangerDiv" style="display:none">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<strong>Error:</strong> <span id="errorDangerMessage"></span>
					</div>
				</div>

				<div class="col-sm-offset-2 col-sm-10 btn-group" role="group">
					<input type="submit" class="btn btn-success" value="Save {{REPLACE_ITEM_TYPE}}" />
					<button type="button" class="btn btn-danger" id="delete" onclick="Delete{{REPLACE_ITEM_TYPE}}(); return false;" disabled>Delete {{REPLACE_ITEM_TYPE}}</button>
					<button type="button" class="btn btn-default" id="cancel">Cancel</button>
				</div>
			</div>
		</div>

	</form>
</div>
