﻿.list-item-edit, .list-item-view, .list-item-delete {
	cursor: pointer;
}

#list-items-table {
	overflow-x: scroll;
    white-space: nowrap;
}

#file-table td {
	height: 34px;
}

.list-items {
    position: relative;
    overflow: auto;
    margin-top: 20px;
}
