﻿@model Byu.Fhss.Sce.ListManager.ListSystem.SceList
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="list-manager">
	<div class="main-controls">
        @if (Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true || Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.GetPermissions(Model.Name, "public-listView") == true)
        {
		    <a href="/ListManager/ViewList/@Model.Name" class="btn btn-default">Return to list</a>
        }
	</div>
@if (Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true || Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.GetPermissions(Model.Name, "public-add") == true)
{
	<div class="main-controls">
		<h1 class="list-name">@Model.Name</h1>
	</div>
	<hr />
	<div class="list-items">
		<table class="table table-hover table-responsive" id="column-table">
			<thead>
				<tr>
					<th style="width: 60%;">Column</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				@{
                    Newtonsoft.Json.Linq.JObject listItem = new Newtonsoft.Json.Linq.JObject();
                    foreach (Newtonsoft.Json.Linq.JObject jo in Model.Rows)
                    {
                        foreach (Newtonsoft.Json.Linq.JProperty jp in jo.Properties())
                        {
                            if (jp.Name == "ID")
                            {
                                if (Convert.ToInt32(jp.Value.ToString()) == Convert.ToInt32(Request.QueryString["id"].ToString()))
                                {
                                    listItem = jo;
                                }
                            }
                        }
                    }

                    foreach (Newtonsoft.Json.Linq.JProperty p in Model.Columns.Properties())
                    {
					<text>
						<tr>
							<td>@p.Name<br/><em style="margin-left:20px;">@Model.Descriptions[p.Name].ToString()</em></td>
							<td>
								@{  string inputType = "";
                                    string any = "";
                                    string disabled = "";
                                    string value = "";
                                    string checkboxChecked = "";
                                    Newtonsoft.Json.Linq.JObject file = new Newtonsoft.Json.Linq.JObject();
                                    file.Add("filetype", "file");
                                    Newtonsoft.Json.Linq.JObject image = new Newtonsoft.Json.Linq.JObject();
                                    image.Add("filetype", "image");
                                    if (p.Name == "ID")
                                    {
                                        disabled = "disabled";
										<input type="number" class="column-value form-control" data-column-name="@p.Name" value="@listItem[p.Name]" disabled />
                                    }
                                    else
                                    {

                                        switch (p.Value.ToString())
                                        {
                                            case "int":
                                                inputType = "number";
                                                value = listItem[p.Name].ToString();
                                                <input type="@inputType" @any class="column-value form-control" data-column-name="@p.Name" data-list-name="@Model.Name" data-list-item-id="@Request.QueryString["id"].ToString()" value="@value" @disabled @checkboxChecked />
                                                break;
                                            case "file":
                                                inputType = "text";
                                                value = listItem[p.Name].ToString();
                                                <div class="input-group">
                                                    <input type="@inputType" @any class="column-value form-control" data-column-name="@p.Name" data-list-name="@Model.Name" data-list-item-id="@Request.QueryString["id"].ToString()" value="@value" @disabled @checkboxChecked />
                                                    <span class="input-group-btn"><button class="btn btn-default" onclick="filePickerCallBack(this, @file)"><span class="glyphicon glyphicon-folder-open"></span></button></span>
                                                </div>
                                                break;
                                            case "image":
                                                inputType = "text";
                                                value = listItem[p.Name].ToString();
                                                <div class="input-group">
                                                    <input type="@inputType" @any class="column-value form-control" data-column-name="@p.Name" data-list-name="@Model.Name" data-list-item-id="@Request.QueryString["id"].ToString()" value="@value" @disabled @checkboxChecked />
                                                    <span class="input-group-btn"><button class="btn btn-default" onclick="filePickerCallBack(this, @image)"><span class="glyphicon glyphicon-folder-open"></span></button></span>
                                                </div>
                                                break;
                                            case "string":
                                                inputType = "text";
                                                value = listItem[p.Name].ToString();
                                                <input type="@inputType" @any class="column-value form-control" data-column-name="@p.Name" data-list-name="@Model.Name" data-list-item-id="@Request.QueryString["id"].ToString()" value="@value" @disabled @checkboxChecked />
                                                break;
                                            case "long string":
                                                inputType = "text";
                                                value = listItem[p.Name].ToString();
                                                <textarea class="column-value form-control" data-column-name="@p.Name" data-list-name="@Model.Name" data-list-item-id="@Request.QueryString["id"].ToString()">@value</textarea>
                                                break;
                                            case "date":
                                                inputType = "date";
                                                DateTime date = Convert.ToDateTime(listItem[p.Name].ToString());
                                                value = date.ToString("yyyy-MM-dd");
                                                <input type="@inputType" @any class="column-value form-control" data-column-name="@p.Name" data-list-name="@Model.Name" data-list-item-id="@Request.QueryString["id"].ToString()" value="@value" @disabled @checkboxChecked />
                                                break;
                                            case "double":
                                                inputType = "number";
                                                any = "step=\"any\"";
                                                value = listItem[p.Name].ToString();
                                                <input type="@inputType" @any class="column-value form-control" data-column-name="@p.Name" data-list-name="@Model.Name" data-list-item-id="@Request.QueryString["id"].ToString()" value="@value" @disabled @checkboxChecked />
                                                break;
                                            case "yes-no":
                                                inputType = "checkbox";
                                                value = listItem[p.Name].ToString();
                                                if (Convert.ToBoolean(value) == true)
                                                {
                                                    checkboxChecked = "checked";
                                                }
                                                <input type="@inputType" @any class="column-value form-control" data-column-name="@p.Name" data-list-name="@Model.Name" data-list-item-id="@Request.QueryString["id"].ToString()" value="@value" @disabled @checkboxChecked />
                                                break;
                                            default:
                                                break;
                                        }
                                    }
								}
							</td>
						</tr>
					</text>
                                    }
				}
			</tbody>
		</table>
        <button class="save-item btn btn-success">Save</button>
	</div>
                                    }
                                    else
                                    {
                                        <h2>You do not have permission to edit this list.</h2>
                                    }
</div>
