﻿@model List<Byu.Fhss.Sce.ListManager.ListSystem.SceList>
@{
    Layout = null;
    ViewBag.i = 0;
}
@{
    if (Byu.Fhss.Sce.Authorization.GroupsManager.CheckGroupMembership("Admins", HttpContext.Current.User.Identity.Name) == true || Byu.Fhss.Sce.Authorization.GroupsManager.CheckGroupMembership("Editors", HttpContext.Current.User.Identity.Name) == true)
    {
        <h1>List Manager</h1>
        <div class="main-controls">
            <button class="btn btn-success list-create-input">
                <span class="glyphicon glyphicon-plus" style="margin-right: 1rem"></span>Add List
            </button>
        </div>
        <hr />
<table class="table table-hover table-responsive" id="file-table">
	<thead>
		<tr>
			<th>List Name</th>
			<th>List ID</th>
			<th>List Items</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@{ if (Model.Count != 0)
            {
                foreach (Byu.Fhss.Sce.ListManager.ListSystem.SceList SceList in Model.OrderBy(f => f.Name))
                {
				<text>
					<tr>

						<td><a href="/ListManager/ViewList/@SceList.Name"><span class="glyphicon glyphicon-th-list" style="margin-right: 2rem"></span>@SceList.Name</a></td>
						<td>@SceList.ID</td>
						<td>@SceList.Rows.Count()</td>

						<td style="width: 5rem">@Html.ActionLink("Edit", "EditList/" + SceList.Name, new { }, new { @class = "btn btn-warning" })</td>
						<td style="width: 5rem"><button class="delete-list btn btn-danger" data-listid="@SceList.Name">Delete</button></td>
					</tr>
				</text>ViewBag.i++;
                }
            }
            else
            {
			<text>
				<tr class="warning">
					<td colspan="3" align="center" class="text-warning">There are no files in this folder.</td>
				</tr>
			</text>}
		}
	</tbody>
</table>
            }
            else
            {
                <h2>You are not authorized to access this page.</h2>
            }
            }