﻿@model Byu.Fhss.Sce.ListManager.ListSystem.SceList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="list-manager">
	<div class="main-controls">
		@if (Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true || Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.GetPermissions(Model.Name, "public-listView") == true)
        {
            <a href="/ListManager/ViewList/@Model.Name" class="btn btn-default">Return to list</a>
        }
	</div>
@if (Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true || Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.GetPermissions(Model.Name, "public-view") == true)
{
	<div class="main-controls">
		<h1 class="list-name">@Model.Name</h1>
	</div>
	<hr />
	<div class="list-items">
		<table class="table table-hover table-responsive" id="column-table">
			<thead>
				<tr>
					<th>Column</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				@{
                    Newtonsoft.Json.Linq.JObject listItem = Model.Rows.Where(i => i.Properties().Any(prop => prop.Name == "ID" && prop.Value.ToString() == Request.QueryString["id"])).SingleOrDefault(); ;


                    foreach (Newtonsoft.Json.Linq.JProperty p in Model.Columns.Properties())
                    {
					<text>
						<tr>
							<td>@p.Name<br /><em style="margin-left:20px;">@Model.Descriptions[p.Name].ToString()</em></td>
							<td>
                                @if (p.Value.ToString() == "file")
                                {
                                    <a href="@listItem[p.Name]" target="_blank">@listItem[p.Name]</a>
                                }
                                else if (p.Value.ToString() == "image")
                                {
                                    <img src="@listItem[p.Name]" width="300" alt="@listItem[p.Name]" />
                                }
                                else
                                {
                                    @listItem[p.Name]
                                }

                            </td>

                        </tr>

                    </text>  }
				}
			</tbody>
		</table>

	</div>
                    }
                    else
                    {
                        <h2>You are not authorized to view this list.</h2>
                    }
</div>
