﻿@model Byu.Fhss.Sce.ListManager.ListSystem.SceList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #list-items-table {
        white-space: nowrap;
    }

    .list-items {
        overflow-x: auto;
    }
    .filter-asc:hover, .filter-desc:hover {
        background-color: lightgrey;
    }
</style>

<div class="list-manager">
	<div class="main-controls">
@if (Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true)
{
	<a href="/ListManager" class="btn btn-default">Return to lists</a>
}
        @if (Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true || Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.GetPermissions(Model.Name, "public-add") == true)
        {
            <button class="btn btn-success add-list-item" data-list-name="@Model.Name"><span class="glyphicon glyphicon-plus"></span> Add Item</button>
        }
	</div>
	<hr />
    @if (Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true || Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.GetPermissions(Model.Name, "public-listView") == true)
    {
	<div class="main-controls">
		<h1 class="list-name">@Model.Name</h1>
        <br/>
        <input type="text" class="form-control search-box" placeholder="Search this list"/>
	</div>
	<hr />
	<div class="list-items">
		<table class="table table-hover table-responsive" id="list-items-table">
			<thead>
				<tr>
                    <th style="width:25%;"></th>
					@foreach (Newtonsoft.Json.Linq.JProperty p in Model.Columns.Properties())
                    {
					    <th class="column-name" data-toggle="tooltip" data-placement="top" title="@Model.Descriptions[p.Name].ToString()" style="cursor:pointer;" data-column-name="@p.Name">@p.Name</th>
                    }

				</tr>
			</thead>
			<tbody>
				@foreach (Newtonsoft.Json.Linq.JObject jo in Model.Rows)
                {
				<tr>
                    <td style="width:25%;">
                        @if (Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true)
                        {
                            <a href="/ListManager/EditListItem/@Model.Name?id=@jo["ID"].ToString()" class="btn btn-info list-item-edit">Edit</a>
                            <span class="list-item-delete btn btn-danger" data-list-item-id="@jo["ID"].ToString()" data-list-name="@Model.Name">Delete</span>
                            <a href="/ListManager/ViewListItem/@Model.Name?id=@jo["ID"].ToString()" class="btn btn-primary list-item-view">View</a>
                        }
                        else
                        {
                            bool editDisable = Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.GetPermissions(Model.Name, "public-edit");
                            bool deleteDisable = Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.GetPermissions(Model.Name, "public-delete");
                            bool viewDisable = Byu.Fhss.Sce.ListManager.ListSystem.SceListSystemManager.GetPermissions(Model.Name, "public-view");
                            if (editDisable)
                            {
                                <a href="/ListManager/EditListItem/@Model.Name?id=@jo["ID"].ToString()" class="btn btn-info list-item-edit">Edit</a>
                            }
                            if (deleteDisable)
                            {
                                <span class="list-item-delete btn btn-danger" data-list-item-id="@jo["ID"].ToString()">Delete</span>
                            }
                            if (viewDisable)
                            {
                                <a href="/ListManager/ViewListItem/@Model.Name?id=@jo["ID"].ToString()" class="btn btn-primary list-item-view">View</a>
                            }
                        }
                    </td>
					@foreach (Newtonsoft.Json.Linq.JProperty jp in jo.Properties())
                    {
					<td>@jp.Value.ToString()</td>

                    }

					
				</tr>
                }
			</tbody>
		</table>
	</div>
    }
    else
    {
        <h2>You are not authorized to view this page.</h2>
    }
</div>
