<li><a href="https://facultycenter.byu.edu/node?destination=node">Faculty Center</a></li>
<li><a href="https://www.digitalmeasures.com/login/byu/faculty/maintaindata/manageData.do">Faculty Profile</a></li>
<li><a href="https://fhsscommunity.byu.edu/RankandStatus/Rank%20and%20Status/Forms/AllItems.aspx">Rank and Status</a></li>
<li><a href="/Pages/faculty-publications">Faculty Publications</a></li>
<li><a href="/Pages/thursday-group">Thursday Group</a></li>