<li><a href="https://learningoutcomes.byu.edu/#college=HC3r2qmK9h2_&department=8XXkoaFRyQ9s&program=DPBhm0sqAlNc">Dept. Learning Outcomes</a></li>
<li><a href="https://policy.byu.edu/index.php">University Policies</a></li>
<li><a href="/Home/DepartmentHandbook">Dept. Handbook</a></li>
<li><a href="/Plugins/FileManager/Files/Faculty/DeptStudentEmploymentPolicies.pdf">Dept. Student Employment Policies</a></li>
