<li><a href="https://y.byu.edu/ry/ae/prod/user_help/cgi/mainMenu.cgi">Class Rolls</a></li>
<li><a href="https://y.byu.edu/ry/ae/prod/grades/cgi/gradeSelection.cgi">Grade Submission</a></li>
<li><a href="https://registrar.byu.edu/permission-add-codes-faculty">Permission-To-Add-Code</a></li>
<li><a href="https://learningsuite.byu.edu/">Learning Suite</a></li>
