<li><a href="https://byu.az1.qualtrics.com/jfe/form/SV_3gWQzRxdsGz4K9v">Step 1: Employment Information</a></li>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLScNGaCeIm8vKH_YCtWTWM2DspS25ubnPV-jvqL8k6vU4NuzFw/viewform">Step 2: Employee Information Form</a></li>
<li><a href="/Plugins/FileManager/Files/NewHireAcceptableDocuments.pdf">Documents for I-9</a></li>
<li><a href="https://www.byu.edu/hr/?q=procedures/student-employment">BYU Student Employment Policies</a></li>
<li><a href="/Plugins/FileManager/Files/PoliciesProcedures.pdf">Student Employee Policies & Expectations</a></li>
<li><a href="https://www.youtube.com/watch?v=qbYp_b-H08U&feature=youtu.be">Using Y-Time Mobile</a></li>
<li><a href="https://registrar.byu.edu/records-privacy-ferpa">FERPA Video Link</a></li>
<li><a href="/Plugins/FileManager/Files/W18PayPeriodEndingDates.pdf">Pay Period Ending Dates</a></li>
<li><a href="https://goo.gl/forms/KrnNxnThHaYKP3j83">Submit a Timesheet Correction</a></li>