<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdgoEcCGmBfTXy4UWa07RJRWMeZqOyxzMmtkrsiDK5WIjeQfA/viewform?c=0&w=1">BYUPAS</a></li>
<li><a href="https://www.facebook.com/groups/533462913456107/about/">Women in Politics</a></li>
<li><a href="/Pages/pi-sigma-alpha">Pi Sigma Alpha</a></li>
<li><a href="/Plugins/FileManager/Files/Student/DemsRepubs.pdf">College Democrats & Republicans</a></li>