<li><a href="https://registrar.byu.edu/registrar/acadsched/classSched.php">Class Schedule</a></li>
<li><a href="/Pages/current-syllabus">Current Syllabus</a></li>
<li><a href="/Pages/previous-syllabi">Historical Syllabi</a></li>
<li><a href="/Plugins/FileManager/Files/Student/OfficeHours_F17.pdf">Faculty Office Hours</a></li>
<li><a href="/Plugins/FileManager/Files/Student/ResearchProjectsSum17-Win18.pdf">Upcoming Research Projects</a></li>
<li><a href="/Plugins/FileManager/Files/Student/Winter2018LectureSeries.pdf">Public Affairs Lecture Series</a></li>
<li><a href="/Pages/mentored-research">Mentored Research - 497R</a></li>
<li><a href="/Pages/directed-readings">Directed Readings - 498R</a></li>
<li><a href="/Plugins/FileManager/Files/Student/SeniorPaperAgreement.pdf">Senior Paper Agreement</a></li>