<li><a href="https://washingtonseminar.byu.edu/ ">Washington Seminar</a></li>
<li><a href="https://uslinternship.byu.edu/Pages/Home.aspx">Utah State Legislature</a></li>
<li><a href="https://politicalscienceinternships.byu.edu/Pages/Home.aspx">Other PoliSci Internships</a></li>