﻿@model Byu.Fhss.Sce.CalendarPlugin.CalendarSystem.SceCalendar
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (Byu.Fhss.Sce.CalendarPlugin.CalendarSystem.SceCalendarSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true)
    {
<div class="calendar-plugin">
	<div class="main-controls">
		<a href="/CalendarPlugin" class="btn btn-default">Return to calendars</a><br /><br />
	</div>
	<div class="main-controls">
		<b style="padding-right: 20px;">List Name:</b>
		<input class="calendar-name form-control edit-calendar-name" type="text" value="@Model.Name" />
	</div>
	<hr />
	<div class="calendar-columns">
        <h3 style="color:red;">**Calendar fields cannot be edited**</h3>
		<table class="table table-hover table-responsive" id="column-table">
			<thead>
				<tr>
					<th>Field Name</th>
                    <th>Field Type</th>
				</tr>
			</thead>
			<tbody>
				@{
                    string[] values = { "int", "string", "long string", "date", "datetime", "double", "yes-no", "file", "image" };
                    string[] text = { "Number", "Small Text", "Long Text", "Date", "Date and Time", "Decimal", "Yes/No", "File", "Image" };
                    foreach (Newtonsoft.Json.Linq.JProperty p in Model.Fields.Properties())
                    {
                        string disabled = "disabled";
						<text>
							<tr>
                                <td><input type="text" class="column-name form-control" value="@p.Name" maxlength="30" @disabled /></td>
								<td>
									<select class="column-type form-control" data-column-name="@p.Name" @disabled>
										@for (int i = 0; i < values.Length; i++)
                                        {
                                            string selected = p.Value.ToString() == values[i] ? "selected" : "";
											<option value="@values[i]" @selected>@text[i]</option>
                                        }

									</select>
								</td>
							</tr>
						</text>
                    }
				}
			</tbody>
		</table>

	</div>
    <div class="list-permissions">
        <br />
        <br/>
        <h2>List Permissions</h2>
        <table class="table table-hover table-responsive" id="permission-table">
            <thead>
                <tr>
                    <th>Permission</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Newtonsoft.Json.Linq.JProperty p in Model.Permissions.Properties())
                    {
                        <text>
                            <tr>
                                @{
                                    string checkboxChecked = Convert.ToBoolean(p.Value) == true ? "checked" : "";
                                    switch (p.Name)
                                    {
                                        case "public-add":
                                            <td>Anyone can add list item</td>
                                            <td><input type="checkbox" class="permission-value form-control" data-permission-name="@p.Name" @checkboxChecked /></td>
                                            break;
                                        case "public-edit":
                                            <td>Anyone can edit list items</td>
                                            <td><input type="checkbox" class="permission-value form-control" data-permission-name="@p.Name" @checkboxChecked /></td>
                                            break;
                                        case "public-view":
                                            <td>Anyone can view list item</td>
                                            <td><input type="checkbox" class="permission-value form-control" data-permission-name="@p.Name" @checkboxChecked /></td>
                                            break;
                                        case "public-listView":
                                            <td>Anyone can view all list items</td>
                                            <td><input type="checkbox" class="permission-value form-control" data-permission-name="@p.Name" @checkboxChecked /></td>
                                            break;
                                        case "public-delete":
                                            <td>Anyone can delete list items</td>
                                            <td><input type="checkbox" class="permission-value form-control" data-permission-name="@p.Name" @checkboxChecked /></td>
                                            break;
                                        default:
                                            break;

                                    }
                                            }
                            </tr>
                        </text>
                                    }
                                    }
            </tbody>
        </table>
    </div>
</div>
                                        }
                                        else
                                        {
                                        <h2>You are not authorized to access this page.</h2>
                                        }
                                    }