﻿@model Byu.Fhss.Sce.CalendarPlugin.CalendarSystem.SceCalendar
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .fade {
        opacity: 1;
    }

    .modal .modal-dialog {
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .modal-dialog {
        margin: 20vh auto 0px auto
    }

    .modal-header {
        white-space: nowrap;
    }

    .modal-backdrop .fade {
        opacity: 0.5 !important;
    }


    .modal-backdrop.fade {
        opacity: 0.5 !important;
    }
</style>

<div class="calendar-plugin">
	<div class="main-controls">
@if (Byu.Fhss.Sce.CalendarPlugin.CalendarSystem.SceCalendarSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true)
{
	<a href="/CalendarPlugin" class="btn btn-default">Return to calendars</a>
}
        @if (Byu.Fhss.Sce.CalendarPlugin.CalendarSystem.SceCalendarSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true || Byu.Fhss.Sce.CalendarPlugin.CalendarSystem.SceCalendarSystemManager.GetPermissions(Model.Name, "public-add") == true)
        {
                <button class="btn btn-success add-event"><span class="glyphicon glyphicon-plus"></span> Add Event</button>
        }
	</div>
	<hr />
    @if (Byu.Fhss.Sce.CalendarPlugin.CalendarSystem.SceCalendarSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true || Byu.Fhss.Sce.CalendarPlugin.CalendarSystem.SceCalendarSystemManager.GetPermissions(Model.Name, "public-listView") == true)
    {
	<div class="main-controls">
		<h1 class="calendar-name">@Model.Name</h1>
        <br/>
	</div>
	<hr />
	<div class="calendar-items">
        <div id="calendar" data-calendar-name="@Model.Name" data-calendar-view="initCalendar"></div>
        
	</div>
    }
    else
    {
        <h2>You are not authorized to view this page.</h2>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel">Event Details</h3>
            </div>
            <div class="modal-body">
                <table class="table" border="0">
                    <tr>
                        <td>Title</td>
                        <td class="title"></td>
                    </tr>
                    <tr>
                        <td>Start Date</td>
                        <td class="start"></td>
                    </tr>
                    <tr>
                        <td>End Date</td>
                        <td class="end"></td>
                    </tr>
                    <tr>
                        <td>All Day</td>
                        <td class="allDay"></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td class="description"></td>
                    </tr>
                    <tr>
                        <td>URL</td>
                        <td class="url"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @if (Byu.Fhss.Sce.CalendarPlugin.CalendarSystem.SceCalendarSystemManager.IsAdminOrEditor(HttpContext.Current.User.Identity.Name) == true)
                {
                <button type="button" class="btn btn-danger event-delete" data-event-id="">Delete Event</button>
                <button type="button" class="btn btn-primary event-edit" data-event-id="">Edit Event</button>
                }
            </div>
        </div>
    </div>
</div>