﻿@model Byu.Fhss.Sce.PageManagement.ScePage
@{
	string id = "create-page-form";
	string IdString = ViewData["id"] == null ? "" : "id=" + ViewData["id"];
}
<div class="modal fade" tabindex="-1" role="dialog" id="create-page-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Create a New Page</h4>
			</div>
			<div class="modal-body">
				<form id="create-page-form" onsubmit="submitNewPage(); return false;">
					@Html.EditorForModel()

					<div class="form-group text-right">
						<input type="submit" class="btn btn-success" value="Submit" />
					</div>

				</form>
			</div>
		</div>
	</div>
</div>