﻿@model Byu.Fhss.Sce.PageManagement.ScePage

<h3>Edit "@Model.Title"</h3>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @originalUri = Model.UriName } ))
{
	@Html.EditorForModel(new { @method = "post", @onsubmit = "return true;" })

	<div class="form-group text-right">
		<input type="submit" class="btn btn-success" value="Submit" />
	</div>
}

@Html.ActionLink("Set as Home Page", "SetDefault", new { @id = Model.UriName }, new { @class = "btn btn-primary" })

<hr />

@Html.ActionLink("Back to Pages", "Pages", null, new { @class = "btn btn-default" })