﻿@model Byu.Fhss.Sce.PageManagement.ManagePagesVM
@{
	ViewBag.Title = "Pages";
}

<h2>@ViewBag.Title</h2>

<table class="table table-hover" id="pages-area">
	<thead>
		<tr>
			<th>Page Name</th>
			<th width="180"></th>
			<th>Template</th>
			<th>Path</th>
			<th width="56"></th>
			<th width="56"></th>
		</tr>
	</thead>
	<tbody>
		@Html.Partial("_PagesList", Model.Pages)
	</tbody>
</table>

<button type="button" class="btn btn-success create-page-modal-launch" onclick="newPageModal().catch(console.log)"><span class="glyphicon glyphicon-plus" style="margin-right: 1rem"></span>Create a new page</button>

@section scripts {
	<script type="text/javascript" src="~/Plugins/SCE/Scripts/Pages.js"></script>
}