﻿@model Byu.Fhss.Sce.PageManagement.ScePage

<div class="col-sm-6 col-sm-offset-3">
	<h3>Set Default Page</h3>
	<p>Are you sure you want to set the page "@Model.Title" ("/Pages/@Model.UriName") as your default home page?</p>

	<center>
		@using (@Html.BeginForm())
		{
			@Html.AntiForgeryToken();
			<input type="submit" value="Yes, set this as the new home page" class="btn btn-success" />
		}
	</center>

	<hr />

	@Html.ActionLink("Back to Pages", "Pages", null, new { @class = "btn btn-default" })
</div>